{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block bbjs %}
    <script type="text/javascript" src="{% static 'js/ccnmtljs/bb_models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/bb_collections.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/bb_views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/bb_control_views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/bb_instantiation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/activate_course.js' %}"></script>
{% endblock %}

{% block js %}

    {% comment %}List Templates{% endcomment %}
    <script type="text/template" id="document-list-template">
        <a href="<%= link %>" target="_blank"><%= name %></a>
        <% if (visible) { %>
            <button class="btn btn-xs btn-danger chng-dct pull-right">Hide</button>
        <% } else { %>
            <button class="btn btn-xs btn-success chng-dct pull-right">Show</button>
        <% } %>
    </script>

    <script type="text/template" id="student-list-template">
     <div class="student-info">
        <div class="student-name">
            <label>Name: </label>
            <%= first_name %>
            <%= last_name %>
        </div>
        <div class="student-email">
            <label>Email: </label>
            <%= email %>
        </div>
        </div>
        <div class="student-buttons">
            <button class="btn btn-xs btn-default pull-right rm-st"><span class="glyphicon glyphicon-remove"></span> Remove Student From Course </button>
            <button class="btn btn-xs btn-default pull-right ed-st"><span class="glyphicon glyphicon-pencil"></span> Edit Student </button>
        </div>
    </script>

    <script type="text/template" id="team-list-template">
       <div class="team-name-list">
            <div class="t-username">
            <label>Team Username (for login purposes): </label> <%= username %>
            </div>
            <div class="t-name">
            <label>Team Name: </label> <%= first_name %>
            </div>
            <div class="t-history">           
            <button class="btn btn-xs btn-default hist-team"><span class="glyphicon glyphicon-save"></span> Download Team History (CSV) </button>
            </span>
        </div>
    </div>
        <div class="team-buttons">
           <button class="btn btn-xs btn-default pull-right rm-team"><span class="glyphicon glyphicon-remove"></span> Remove Team From Course </button>
            <button class="btn btn-xs btn-default pull-right edit-team"><span class="glyphicon glyphicon-pencil"></span> Edit Team </button>
        </div>
    </script>
    

    {% comment %}Edit Templates{% endcomment %}
    <script type="text/template" id="student-edit-template">
    <form class="edit-student-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
     <div class="create-student-account">
        <div class="sedt-first-name">
            <label>First Name: </label>
            <input type="text" placeholder="First Name: " class="edt-frst-name" value="<%= first_name %>" /> 
        </div>
        <div class="sedt-last-name">
            <label>Last Name: </label>
            <input type="text" placeholder="Last Name: " class="edt-last-name" value="<%= last_name %>" /> 
        </div>
        <div class="sedt-email">
            <label>Email: </label>
            <input type="text" placeholder="Email: " class="edt-email" value="<%= email %>" />
        </div>
        </div>
        <div class="create-student-buttons">
        <button class="btn btn-xs btn-default save-edit-student"> Save Changes </button>  
        <button class="btn btn-xs  btn-default cncl-edit-std">Cancel</button>       
        </div>
    </form>
    </script>
    
    <script type="text/template" id="team-edit-template">
    <br />
    <form class="edit-team-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
        <div class="div-edt-team-name">
            <label>Team Name: </label>
            <input type="text" placeholder="Team Name" class="edt-team-name" value="<%= first_name %>" />
        </div>
        <button class="btn btn-xs btn-default save-edit-team"> Save Changes </button>
        <button class="btn btn-xs  btn-default cncl-edit-team">Cancel</button>
        <br />
    </form>
    </script>
    <script type="text/javascript" src="{% static 'js/ccnmtljs/archive_course.js' %}"></script>

{% endblock %}

{% block content %}
   <input type="hidden" name="crs-id" value="{{object.pk}}"/>
   <input type="hidden" name="crs-active" value="{{object.active}}"/>
   {% csrf_token %}
  <ul class="nav nav-tabs instructor-nav">
    <li class="active"><a href="#course-documents" data-toggle="tab">Course Info</a></li>
    <li><a href="#course-team-students" data-toggle="tab">Teams and Students</a></li>
    <li id="get_teams"><a href="#course-active-teams" data-toggle="tab">Organize Teams</a></li>
  </ul>
 
  <div class="instructor tab-content">
    {% include "main/ccnmtl/course_dash/course_detail_tab.html" %}
    {% include "main/ccnmtl/course_dash/student_team_tab.html" %}
    {% include "main/ccnmtl/course_dash/active_teams_tab.html" %}
  </div>
{% comment %}{% endcomment %}

{% endblock %}

