<div class="tab-pane active" id="course-documents">
    <h1>{{object.name}} Details</h1>

    <div class="course_message">
        <h3>Course message:</h3>
        <div id="course_message">{{object.message}}</div>
    </div><!-- End Course Message -->

    <h3>Course Documents</h3>
    
    <div class="documents_list">
        
    </div><!-- End Document List -->


    <div class="course-info">
        <div id="course-from" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#course-from" href="#collapseForm">
                    Edit Course
                    </a>
                </h4>
            </div><!-- End panel heading -->
            <!-- <div id="collapseForm" class="panel-collapse collapse in"> -->
            <div id="collapseForm" class="panel-collapse collapse">
                <div class="panel-body">
                    <form id="upt-crs-frm" method="" action="">
                    <p>
                    	<label for="id_name">Name:</label>
                    	<input id="id_name" maxlength="255" name="name" type="text" />
                    </p>
                    
					<p>
						<label for="id_startingBudget">StartingBudget:</label> 
						<input id="id_startingBudget" min="0" name="startingBudget" type="number" value="60000" />
					</p>
					
					<p>
						<label for="id_enableNarrative">EnableNarrative:</label> 
						<input checked="checked" id="id_enableNarrative" name="enableNarrative" type="checkbox" />
					</p>

					<p>
						<label for="id_message">Message:</label> 
						<textarea cols="80" id="id_message" name="message" rows="10">
						</textarea>
					</p>
					
					<p>
						<label for="id_active">Active:</label> 
						<input id="id_active" name="active" type="checkbox" />
					</p>
					
					<p>
						<label for="id_archive">Archive:</label> 
						<input id="id_archive" name="archive" type="checkbox" />
					</p>
					
					<p>
						<label for="id_professor">Professor:</label>
						<select id="id_professor" name="professor">
							<option value="" selected="selected">---------</option>
							<div id="option_area"></div>
							{% comment %}
							{% for p in professor_list %}
								<option value="p.pk">{{p.first_name}} <space><space> {{p.last_name}}</option>
							{% endfor %}
							{% for a in ad_profs %}
								<option value="a.pk">{{a.first_name}} <space><space> {{a.last_name}}</option>
							{% endfor %}
							{% endcomment %}
                    	</select>
                    </p>
                    
                    
                    {% comment %}
                    {% csrf_token %}
                    {{object.get_course_form.as_p}}
                    {% endcomment %}
                    </form>
                    <button id="update-crs-btn" type="button">
                    Save
                    </button><br />
                </div><!-- End panel body -->
            </div><!-- End collapsing Form -->
        </div><!-- End Course Form -->
    </div><!-- End Course Info -->
    <div>
        <p> 
            After entering your course information, you should proceed to create your students and teams.
            Click on the 'Teams and Students' tab to begin.
        </p>
    </div>
    
    <!-- This is currently invisible, don't see point in deactivating here when they can do it in course list, may add back -->
    <div class="deactivate-course" style="display: none;">
        <div class="crs-deactivate">
            <p> If you are done with this course, you may remove it from your dashboard by deactivating it.</p>
             <button id="deactivation-btn" type="button">
                Deactivate Course
            </button><br /><br />
       </div>
    </div>
    
</div><!-- End Tab Content -->