{% extends 'base.html' %}

{% block bbjs %}
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_models.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_collections.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_views.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_control_views.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_instantiation.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/details_course.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/activate_course.js"></script>
{% endblock %}

{% block js %}

    {% comment %}List Templates{% endcomment %}
    <script type="text/template" id="document-list-template">
        <span class="document-click"><b><%= name %></b></span>
        <space><space>
        Visibility of Document: <%= visible %>
        <%
            if(visible)
            {
                %><button class='btn btn-xs btn-success chng-dct'>Release/Revoke Document</button><%
            }else
            {
                %><button class='btn btn-xs btn-danger chng-dct'>Release/Revoke Document</button><%
            }
        %>
    </script>

    <script type="text/template" id="student-list-template">
        [<%= first_name %>] <space><space>
        [<%= last_name %>] <space><space>
        Email: [<%= email %>]
        <button class='btn btn-xs ed-st'> Edit Student </button>
        <space><space>
        <button class='btn btn-xs rm-st'> Remove Student From Course </button>  <space><space><br />
    </script>

    <script type="text/template" id="team-list-template">
        <label>Team Name: </label>[<%= first_name %>] <space><space>
        <label>Login: </label>[<%= username %>] <space><space>
        <button class='btn btn-xs rm-team'> Remove Team From Course </button>  <space><space><br />
    </script>
    
    <script type="text/template" id="instructor-list-template">
        [<%= first_name %>] <space><space>
        [<%= last_name %>] <space><space>
        Email: [<%= email %>]
        <button class='btn btn-xs ed-inst'> Instructor Student </button>
        <space><space>
        <button class='btn btn-xs rm-inst'> Remove Instructor </button>  <space><space><br />
    </script>



    {% comment %}Edit Templates{% endcomment %}
    <script type="text/template" id="student-edit-template">
    <form class="edit-student-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
        <span class="sedt-first-name">
            <label>First Name: </label>
            <input type="text" placeholder="First Name: " class="edt-frst-name" value="<%= first_name %>" /> 
            <space><space>
        </span>
        <span class="sedt-last-name">
            <label>Last Name: </label>
            <input type="text" placeholder="Last Name: " class="edt-last-name" value="<%= last_name %>" /> 
            <space><space>
        </span>
        <span class="sedt-email">
            <label>Email: </label>
            <input type="text" placeholder="Email: " class="edt-email" value="<%= email %>" />
        </span>
        <button class='btn btn-xs save-edit-student'> Save Changes </button>  <br />
    </form>
    </script>
    
    <script type="text/template" id="team-edit-template">
    <form class="edit-team-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
        <b> Create Team </b>
        <label>Team Name: </label>
        <input type="text" placeholder="Team Name" class="edt-team-name" value="<%= first_name %>" />
        <space><space>
        <button class='btn btn-xs save-edit-student'> Save Changes </button>  <br />
    </form>
    </script>
    
    
    
    {% comment %}Create Teamplates
    <script type="text/template" id="student-create-template">
    <form class="create-student-frm" method="" action="" style="display: inline;">{% csrf_token %}
        <label>First Name: </label>
        <input type="text" placeholder="First Name: " class="edt-frst-name" value="<%= first_name %>" /> <space><space>
        <label>Last Name: </label>
        <input type="text" placeholder="Last Name: " class="edt-last-name" value="<%= last_name %>" /> <space><space>
        <label>Email: </label>
        <input type="text" placeholder="Email: " class="edt-email" value="<%= email %>" />
        <button class='btn btn-xs save-edit-student'> Save Changes </button>  <br />
    </form>
    </script>
    
    <script type="text/template" id="team-create-template">
    <form class="create-team-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
        <label>Team Name: </label>
        <input type="text" placeholder="Team Name: " class="edt-frst-name" value="<%= first_name %>" /> 
        <space><space>
        <label>Password: </label>
        <input type="text" placeholder="Password: " class="edt-team-passwd" value="<%= team_passwd %>" />
        <button class='btn btn-xs save-edit-student'> Save Changes </button>  <br />
    </form>
    </script>
    {% endcomment %}
    
    
{% endblock %}

{% block content %}
   <input type="hidden" name="crs-id" value="{{object.pk}}"/>
   <input type="hidden" name="crs-active" value="{{object.active}}"/>

  <ul class="nav nav-tabs instructor-nav">
    <li class="active"><a href="#course-documents" data-toggle="tab">Course Info</a></li>
    <li><a href="#course-team-students" data-toggle="tab">Teams and Students</a></li>
    <li><a href="#course-active-teams" data-toggle="tab">View Teams</a></li>
  </ul>
 
  <div class="instructor tab-content">
    {% include "main/ccnmtl/course_dash/course_detail_tab.html" %}
    {% include "main/ccnmtl/course_dash/student_team_tab.html" %}
    {% include "main/ccnmtl/course_dash/active_teams_tab.html" %}
  </div>
{% comment %}{% endcomment %}
{% endblock %}

