{% extends 'base.html' %}
{% block content %}
<br /><br /><input type="hidden" name="crs-id" value="{{object.pk}}"/>
	        	<button type="button" class="btn btn-default">
                	Sort by Student
    	        </button>
    	        <button type="button" class="btn btn-default">
                	Sort by Team
    	        </button>

    <div class="course-activation">
    <table id="student_team_tables" style="width:100%">
    <form id="act-crs-frm" method="post" action="../../activate_course/{{object.pk}}/">
        {% csrf_token %}
        <th>
        <tr>
            <td>
            <b>
                First Name
            </b>
            </td>
            <td>
            <b>
                Last Name
            </b>
            </td>
            <td>
            <b>
                Email
            </b>
            </td>
            <td>
            <b>
                Team
            </b>
            </td>
        </tr>
        </th>
    
        {% for student in student_list %}

        <tr class="student">
            <td>
                <input type="hidden" name="std-id" value="{{student.pk}}"/>
                <input type="hidden" name="first_name" value="{{student.first_name}}">
                {{student.first_name}}
            </td>
            <td>
                <input type="hidden" name="last_name" value="{{student.last_name}}">
                {{student.last_name}}
            </td>
            <td>
                <input type="hidden" name="email" value="{{student.email}}">
                {{student.email}}
            </td>
	        <td>
	            <select>
	                {% for team in team_list %}
                        <option value="{{team.pk}}"> {{team.username}} </option>
		        	{% empty %}
    	        		<p>
            				Please add teams in order to create them.
    	        		</p>
	        	    {% endfor %}
	            </select>
	        {% comment %}
	        <div class="btn-group">
	        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	Team
          	    	<span class="caret"></span>
    	        </button>
    	        <ul class="dropdown-menu" role="menu">
		        <div class="btn-group-vertical btn-group-sm">
	        		{% for team in team_list %}
                    	<button type="button" class="btn btn-default">
                    	    <input type="hidden" name="team-id" value="{{team.pk}}"/>
                    		{{team.username}}
                    	</button>
		        	{% empty %}
    	        		<button type="button" class="btn btn-default">
            				Please add teams in order to create them.
    	        		</button>
	        		{% endfor %}
	            </ul>
		        </div><!-- End Button Group -->
		    </div>
		    {% endcomment %}
		    
	        </td>
        </tr>
        {% empty %}
            <p>Please add students in order to create teams.</p>
        {% endfor %}
    <!-- </form> -->
    </table>
    </form>
    </div>

        <div class="crs-act-info">
            <h3>Activate Course</h3>
            <p>Activating the course teams will Every student should be a member of a team before you begin.
                <ul>
                    This will:
                    <li>Activate accounts for all non-activated teams with at least one student member.</li>
                    <li>For those new teams, send the student members email (cc'ing you) with the username and password for their team.</li>
                </ul>
            </p>
        </div><!-- End Course Activation Info -->
        <div class="crs-activate">
            <button id="activation-btn" type="submit">
                Activate Course
            </button><br /><br />
    </div>


{% endblock %}
{% block bbjs %}
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/utility_scripts/backbone_sync.js"></script> -->
<script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/activate_course.js"></script>
{% endblock %}
