<div class="tab-pane" id="course-team-students">
    <div class="create-teams">
      <h2>{{object.name}} <small>Teams and Students</small></h2>
  	<ol>
  	    <li>Click <strong>Add New Team</strong> to create a new team for your Brownfield Action course.</li>
  	    <li>Click <strong>Add New Student</strong> to create student accounts. Be sure to associate an email with each student created.</li>
  	    <li>Click the <strong>Organize Teams</strong> tab above to place students on teams. Upon course activation, a team username and password will be created and emailed to the student emails you provide.</li>
  	</ol>
    </div>
    <div class="team-creation-area">
        <div class='team-header'>
            <h3>Teams</h3>
            <button class="btn btn-default add-team-btn pull-right"><span class="glyphicon glyphicon-plus"></span> Add New Team</button>
        </div>
        <div id="course-teams">
            <div class="team_controls">
                  <form class="add-team-frm" method="" action="" style="display: none;">
                    {% csrf_token %}
                    <div class="create-team-name">
                    <label>Team Name</label>
                    <input type="text" placeholder="Team Name" class="team-name" />
                    </div>
                    <div class="create-team-buttons">
                    <input type="submit" value="Save Team" class="btn btn-xs btn-default team_submit"/>
                    <button class='btn btn-xs btn-default cncl-add-team' type="button">
                    Cancel
                    </button>
                    </div>
                </form>
            </div>
            <div class="team-list"></div>
        </div>
        </div><!-- End team-creation-area -->
        <br /><br />
        <div class="course-students">
          <div class='student-header'>
            <h3>Students</h3>
             <button class="btn btn-default add-std-btn pull-right"><span class="glyphicon glyphicon-plus"></span> Add New Student</button></div>
            <div class="student_controls">
                <form class="add-std-frm" method="" action="" style="display: none;">
                {% csrf_token %}
                <div class="create-student-account">
                    <div class="first-name-box">
                        <label>First Name: </label>
                        <input type="text" placeholder="First Name" class="frst-name" />
                    </div>
                    <div class="last-name-box">
                        <label>Last Name: </label>
                        <input type="text" placeholder="Last Name" class="last-name" />
                    </div>
                    <div class="email-box">
                        <label>Email: </label>
                        <input type="text" placeholder="Email" class="email" />
                    </div>
                    </div>
                    <div class="create-student-buttons">
                    <input type="submit" value="Save Student" class="btn btn-xs btn-default student_submit"/>
                    <button class='btn btn-xs btn-default cncl-add-std' type="button">
                        Cancel
                    </button>
                    </div>
                </form>
            </div>
            <div class="student-list"></div>
        </div>
    
    <br /><br /><br />
</div>