<div class="tab-pane" id="course-team-students">
    <div class="create-teams">
     <h3>Instructions</h3>
    On this page you should create your students and teams, you will put your students in teams on the next page.
  	Create your teams and students below.
    </div>
    <h3>Teams</h3>
    <div id="course-teams">
        <div class="team_controls">
            <button class="add-team-btn">
            Add New Team   
            </button>
            <p class="add-team-frm-title" style="display: none;"> <b>Add New Team: </b></p>
            <form class="add-team-frm" method="" action="" style="display: none;">
                {% csrf_token %}
                <label>Team Name: </label>
                    <input type="text" placeholder="Team Name" class="team-name" />
                    <br />
                <label>Password: </label>
                    <input type="password" placeholder="Password" class="team-pswd-1" /><br />
                <label>Password: </label>
                    <input type="password" placeholder="Password" class="team-pswd-2" /><br />
                    <input type="submit" value="Save Team" class="team_submit"/>
            </form>
        </div>
        <div class="team-list"></div>
    </div>

    
    <h3>Students</h3>
    <div id="course-students">
        <div class="student_controls">
            <button class="add-std-btn">
            Add New Student   
            </button>
            <p class="add-std-frm-title" style="display: none;"> <b>Add New Student: </b></p>
            <form class="add-std-frm" method="" action="" style="display: none;">
                {% csrf_token %}
                <label>First Name: </label>
                    <input type="text" placeholder="First Name" class="frst-name" /><br />
                <label>Last Name: </label>
                    <input type="text" placeholder="Last Name" class="last-name" /><br />
                <label>Email: </label>
                    <input type="text" placeholder="Email" class="email" /><br />
                <input type="submit" value="Save Student" class="student_submit"/>
            </form>
        </div>
        <div class="student-list"></div>
    </div>

    <br /><br /><br />
</div>