<div class="course-activation">
    <table id="student_team_tables" style="width:100%">
    <form id="act-crs-frm" method="post" action="../../activate_course/{{object.pk}}/">
        {% csrf_token %}
        <tr class='someclass'>
            <td><b>First Name</b></td>
            <td><b>Last Name</b></td>
            <td><b>Email</b></td>
            <td><b>Team</b></td>
        </tr>
    
        {% for student in object.get_student_users %}

        <tr class="student-row">
            <td>
                <input type="hidden" name="std-id" value="{{student.pk}}"/>
                <input type="hidden" name="first_name" value="{{student.first_name}}">
                {{student.first_name}}
            </td>
            <td>
                <input type="hidden" name="last_name" value="{{student.last_name}}">
                {{student.last_name}}
            </td>
            <td>
                <input type="hidden" name="email" value="{{student.email}}">
                {{student.email}}
            </td>
	        <td>
	            <select>
	                {% for team in object.get_teams %}

	                    {% if student.profile.team.pk == team.pk  %}
                            <option selected="selected" value="{{team.pk}}"> {{team.user.username}} </option>
                        {% else %}
                            <option value="{{team.pk}}"> {{team.user.username}} </option>
                        {% endif %}
		        	{% empty %}
    	        		<p>
            				Please add teams in order to create them.
    	        		</p>
	        	    {% endfor %}
	            </select>
            </td>
        </tr>
        {% empty %}
            <p>Please add students in order to create teams.</p>
        {% endfor %}
    </table>
    </form>
    

    <div class="crs-act-info">
    {% if not object.active %}
        <h3>Activate Course</h3>
            <p>Activating the course teams will Every student should be a member of a team before you begin.
                <ul>
                    This will:
                    <li>Activate accounts for all non-activated teams with at least one student member.</li>
                    <li>For those new teams, send the student members email (cc'ing you) with the username and password for their team.</li>
                </ul>
            </p>
    {% endif %}
    </div><!-- End Course Activation Info -->
</div>


