 var App = {
    Models: {},
    Collections: {},
    Views: {},
    Document: null,
    Documents: null,

  };


App.Models.Budget = Backbone.Model.extend({
	
	defaults:
	{
	    amount: '$100',
	    date: '0/0/0',
	    purpose: '<p></p>',

	},

	validate: function(attrs, options)
	{
	    if (!attrs.amount)
	    {
	      return "A valid amount must be provided.";
	    }
	},

    initialize: function(attributes)
    {
	    var amount = attributes.amount || '<EMPTY>';
	    var date = attributes.date || '<EMPTY>';
	    var purpose = attributes.purpose || '<EMPTY>';
	    console.log("Initializing a new budget model for '" + purpose + "'." );
	}
}); // end of Budget Model



App.Models.Document = Backbone.Model.extend({
	
	defaults: {
	    name: '$100',
	    download: '<',
	  },

    validate: function(attrs, options) {
	    if (!attrs.name) {
	      return "A valid name must be provided.";
	    }
	  },

    initialize: function(attributes) {
	    var name = attributes.name || '<EMPTY>';
	    var download = attributes.download || '<EMPTY>';
	    console.log("Initializing a new document model for '" + name + "'." );
	  }
	});
 // end of Document Model

App.Collections.Budgets = Backbone.Collection.extend({
        model: App.Models.Budget 
});

App.Collections.Documents = Backbone.Collection.extend({
        model: App.Models.Document 
});


App.Views.Document = Backbone.View.extend({
  template: _.template($('#template-document').html()),
  $container: null,
  events: {
	    'click .delete': 'remove'
  },

  initialize: function(options) {
    _.bindAll(this, 'render', 'insert', 'remove');

   this.$container = options.$container;

    this.listenTo(this.model, 'change', this.render);
    this.insert();
  },

  render: function() {
    this.$el.html(this.template(this.model.attributes));

    return this;
  },

  insert: function() {
    this.$container.append(this.$el);
  },

}); //end of Document View


App.Views.Documents = Backbone.View.extend({
	
	events: {
	    'click .controls .add': 'addForm',
	    'submit .controls form': 'addSubmit'
	  },

    initialize: function() {
        _.bindAll(this, 'render', 'addForm', 'addSubmit');
    },

    render: function() {
    	//what does this mean?
        //var $container = this.$('.listing').empty();
        var $container = this.$('#documentlist').empty();
        App.Documents.each(function(document) {
            new App.Views.Document({
            model: document,
            $container: $container
        }).render();
    });

        return this;
    },
    

});

  
$(function() { 

  // Run this code when the DOM is ready
  
    window.tom = new App.Models.Course({
        nameCourse: 'Test Course Name',
	    startingBudget: '80000',
	    enableNarrative: true,
	    message: '<p>Message to sent everyone.</p>',
	    active: true,
  });
    
    

  App.Courses = new App.Collections.Courses();
  App.Documents = new App.Collections.Documents();
  App.Teams = new App.Collections.Teams();
  App.Students = new App.Collections.Students();
  
  App.Courses.add(window.tom);

  App.Courses.add({
        nameCourse: 'Some Other Course Name',
	    startingBudget: '100,000',
	    enableNarrative: true,
	    message: '<p> Message to send everyone.</p>',
	    active: true,
  });
  
  App.Students.add({
	    firstName: 'First Name 1',
	    lastName: 'Last Name 1',
	    email: 'email@email.com',
	    username: 'username',
  });
  
  
  App.Students.add({
	    firstName: 'First Name 2',
	    lastName: 'Last Name 2',
	    email: 'email@email.com',
	    username: 'username',
  }); 
  
  
  
  
  
  App.CourseList = new App.Views.CourseList({
	    el: $('#course_display')
	  });

	  App.CourseList.render();

	  App.Courses.on('add remove', function() {
	    App.CourseList.render();
  });

});