{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"
    >
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>Brownfield Action</title>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/utils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/ajaxify_forms.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/swfobject.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/brownfield.js"></script>
</head>
<body>

<div id="main_content">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="761" height="521" id="bfa" align="middle">
      <param name="allowScriptAccess" value="sameDomain" />
      <param name="movie" value="{{STATIC_URL}}flash/bfa.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#4d3e1b" />
      <param name="flashVars" value="serverURL={{site.domain}}&amp;resourceRootURL={% static 'flash/' %}" />
      <embed src="{{STATIC_URL}}flash/bfa.swf" quality="high" bgcolor="#4d3e1b" width="761" height="521" name="bfa" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashVars="serverURL={{site.domain}}&amp;resourceRootURL={% static 'flash/' %}" />
    </object>
    
    <div id="userlogout" class="notice">
    	<a href="/logout">Logout</a>
    </div>
</div>

</body>
</html>
