{% extends 'base.html' %}
{% block content %}
      <p>Interactive Visual Recon Should Have Introduction Here</p>
    <div id="visrecon_display">
      <div class="listing">
      </div>
    </div>


<div id="interactive">
     <div id="content_holder">
     </div>
      <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>

</div>

 <script id="template-recon-story" type="template">
    <div class="recon-content">
      <b><%= content_title %></b></ br>
      <p><%= content_body %></p>
    </div>
</script>


<script>
  
var ContentModel = Backbone.Model.extend ({});

var ContentCollection = Backbone.Collection.extend ({
    model: ContentModel
  });

var ListView = Backbone.View.extend({

    

    initialize: function(){
    
        $('body').on('click', this.clickHandler);
        console.log('list view initialized');
    
    
    },  

    render: function() {
    
          var template = _.template( $("#template-recon-story").html(), {} );
          this.$el.html( template );
     }
});


var listView = new ListView();

//view.$el.appendTo(document.body);
    
listView.render();


</script>
    

{% endblock %}