Visual Reconnaissance costs $100. Begin your tour by clicking the 'Begin' button below. You will see a pulsing red dot on the map which indicates your location as you travel. At each step of the tour you will see a photo of your location and the notes from your observations. Whiles you are performing your reconnaissance tour. You will not be able to zoom in or modify the map. The notes from your tour will be available afterwards in your documents collection, and you can re-take the tour any time you like.




    <script id="template-recon-intro" type="template">
    <div class="recon-content">
  
        <b>Introduction</b></ br>
        <p>Visual Reconnaissance costs $100. Begin your tour by clicking the 'Begin' button below. 
           You will see a pulsing red dot on the map which indicates your location as you travel. 
           At each step of the tour you will see a photo of your location and the notes from your observations. 
           Whiles you are performing your reconnaissance tour. You will not be able to zoom in or modify the map. 
           The notes from your tour will be available afterwards in your documents collection, and you can re-take the tour any time you like.
        </p></ br>
        <button id="begin" class="begin">Begin</button>
    </div>
    </script>
    
    
    
    
    
    
    <script id="template-recon-two" type="template">
    <div class="recon-content">
      <p> 8:30 AM - Began drive-through at intersetion of Pitch Pine Lane and Boulder Boulevard
      (aka Route 66E) - drove NE on Boulder Blvd. - "No Hunting / Property of Moraine Township"
      signs posted on both sides of hte road - both sides of the road have "pine barreds" 
      vegetation (dominated by scrub oak and pine) with light-colored or beige soils that are
      visibly sandy and gravelly. About 0.3 mile further down the road is a narrow clearing on both
      sides of the road. ~20 feet wide extending NW-SE; stopped car on side of road; there is little vegetation
      in these cleared strips except for low, scraggly weeds; to the NE 40-50 feet from road is a brick building 
      (20 ft. square) sitting in the middle of the clearing; on the building is a sign stating 
      "No Trespassing/Township of Moraine/Division of Water Supply" - the building is possibly a pumping station
       becasue the clearing runs straight up hill all the way to the other side and extends straight downhill 
      (about two football fields away) to another brick building which (with my binoculars) looks to be several 
      times the size of the first building; I'll try to check this building out when I close my loop at the end of the day.  
      <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    Journal Notes
8:00 AM - Visited Building Department of the Moraine Municipal Government 
Complex and obtained maps of all properties in the vicinity of the Self-Lume
property.
Continue
Back

locations/muniGovt1.jpg


locations/waterTower1.jpg


locations/btex1.jpg



locations/firnFreeze1.jpg


locations/kilroys1.jpg


locations/pluckers.jpg


locations/LoessLane.jpg



locations/selfLume1.jpg




locations/fallowHome1.jpg
locations/kameKondos1.jpg
locations/selfLume2.jpg
locations/tillies.jpg
locations/SelfLume_ClearedZone.jpg
locations/SelfLume_EastWall.jpg
locations/selfLume1.jpg
locations/fourHomes1.jpg
locations/vinyards1.jpg
locaitons/eolianAcers1.jpg
locations/townWell1.jpg
locations/ScrubBushes.jpg
locations/muniGovt1.jpg