    <script id="template-recon-intro" type="template">
    <div class="recon-content">
  
        <b>Introduction</b></ br>
        <p>Visual Reconnaissance costs $100. Begin your tour by clicking the 'Begin' button below. 
           You will see a pulsing red dot on the map which indicates your location as you travel. 
           At each step of the tour you will see a photo of your location and the notes from your observations. 
           Whiles you are performing your reconnaissance tour. You will not be able to zoom in or modify the map. 
           The notes from your tour will be available afterwards in your documents collection, and you can re-take the tour any time you like.
        </p></ br>
        <button id="begin" class="begin">Begin</button>
    </div>
    </script>
    
    
    <script id="template-recon-two" type="template">
    <div class="recon-content">
    Journal Notes
    8:00 AM - Visited Building Department of the Moraine Municipal Government 
    Complex and obtained maps of all properties in the vicinity of the Self-Lume
    property.
    </div>
    </script>
    
    
    
    <script id="template-recon-three" type="template">
    <div class="recon-content">
      <p> 8:30 AM - Began drive-through at intersetion of Pitch Pine Lane and Boulder Boulevard
      (aka Route 66E) - drove NE on Boulder Blvd. - "No Hunting / Property of Moraine Township"
      signs posted on both sides of hte road - both sides of the road have "pine barreds" 
      vegetation (dominated by scrub oak and pine) with light-colored or beige soils that are
      visibly sandy and gravelly. About 0.3 mile further down the road is a narrow clearing on both
      sides of the road. ~20 feet wide extending NW-SE; stopped car on side of road; there is little vegetation
      in these cleared strips except for low, scraggly weeds; to the NE 40-50 feet from road is a brick building 
      (20 ft. square) sitting in the middle of the clearing; on the building is a sign stating 
      "No Trespassing/Township of Moraine/Division of Water Supply" - the building is possibly a pumping station
       becasue the clearing runs straight up hill all the way to the other side and extends straight downhill 
      (about two football fields away) to another brick building which (with my binoculars) looks to be several 
      times the size of the first building; I'll try to check this building out when I close my loop at the end of the day.  
      <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    

    <img src="{{STATIC_URL}}locations/muniGovt1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/waterTower1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/btex1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/firnFreeze1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/kilroys1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/pluckers.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/LoessLane.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/selfLume1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/fallowHome1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/kameKondos1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/selfLume2.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/fallowHome1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/kameKondos1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/selfLume2.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/tillies.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/SelfLume_ClearedZone.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/SelfLume_EastWall.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/selfLume1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/fourHomes1.jpgf" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/vinyards1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locaitons/eolianAcers1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/townWell1.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/ScrubBushes.jpg" alt="Smiley face" height="42" width="42">
    <img src="{{STATIC_URL}}locations/muniGovt1.jpg" alt="Smiley face" height="42" width="42">
    
    
Continue
Back

{{STATIC_URL}}locations/muniGovt1.jpg
{{STATIC_URL}}locations/waterTower1.jpg
{{STATIC_URL}}locations/btex1.jpg
{{STATIC_URL}}locations/firnFreeze1.jpg
{{STATIC_URL}}locations/kilroys1.jpg
{{STATIC_URL}}locations/pluckers.jpg
{{STATIC_URL}}locations/LoessLane.jpg
{{STATIC_URL}}locations/selfLume1.jpg
{{STATIC_URL}}locations/fallowHome1.jpg
{{STATIC_URL}}locations/kameKondos1.jpg
{{STATIC_URL}}locations/selfLume2.jpg
{{STATIC_URL}}locations/tillies.jpg
{{STATIC_URL}}locations/SelfLume_ClearedZone.jpg
{{STATIC_URL}}locations/SelfLume_EastWall.jpg
{{STATIC_URL}}locations/selfLume1.jpg
{{STATIC_URL}}locations/fourHomes1.jpg
{{STATIC_URL}}locations/vinyards1.jpg
{{STATIC_URL}}locaitons/eolianAcers1.jpg
{{STATIC_URL}}locations/townWell1.jpg
{{STATIC_URL}}locations/ScrubBushes.jpg
{{STATIC_URL}}locations/muniGovt1.jpg












Interactive

Modes

	Testing
	Site History
	Visual Reconassence


Testing
	Tests
		Excavation
		Drilling/Push
		GPR
		MMD
		SGSA
		Topographic Survey
		Super Test

Site History
	Commercial
		BTEX Gas Satation
		Firn Freeze
		Kilroy's Bar
		Plucker's Scrap Metal
		Roche Mountonee Vineyard
		Self-Lume Factory
		Tillie's All-Night Diner
		Wedging Nursery

	Government
		Municipal Government
		Town Well
		Water Tower

	Residential
		Eolian Acres
		Fallow Home
		Four Homes of Erratic
		Kame Kondos

	Visual Records