    <script id="template-recon-intro" type="template">
    <div class="recon-content">
    
        <b>Introduction</b></ br>
        <p>Visual Reconnaissance costs $100. Begin your tour by clicking the 'Begin' button below. 
           You will see a pulsing red dot on the map which indicates your location as you travel. 
           At each step of the tour you will see a photo of your location and the notes from your observations. 
           Whiles you are performing your reconnaissance tour. You will not be able to zoom in or modify the map. 
           The notes from your tour will be available afterwards in your documents collection, and you can re-take the tour any time you like.
        </p></ br>
        <button id="begin" class="begin">Begin</button>
    </div>
    </script>
    
    
    <script id="template-recon-one" type="template">
    <div class="recon-content">
    <img src="{{STATIC_URL}}locations/muniGovt1.jpg" alt="Smiley face" height="42" width="42">
    Journal Notes
    8:00 AM - Visited Building Department of the Moraine Municipal Government 
    Complex and obtained maps of all properties in the vicinity of the Self-Lume
    property.
    </div>
    </script>
    
    
    
    <script id="template-recon-two" type="template">
    <div class="recon-content">
      <img src="{{STATIC_URL}}locations/waterTower1.jpg" alt="Smiley face" height="42" width="42">
      <p> 8:30 AM - Began drive-through at intersetion of Pitch Pine Lane and Boulder Boulevard
      (aka Route 66E) - drove NE on Boulder Blvd. - "No Hunting / Property of Moraine Township"
      signs posted on both sides of hte road - both sides of the road have "pine barreds" 
      vegetation (dominated by scrub oak and pine) with light-colored or beige soils that are
      visibly sandy and gravelly. About 0.3 mile further down the road is a narrow clearing on both
      sides of the road. ~20 feet wide extending NW-SE; stopped car on side of road; there is little vegetation
      in these cleared strips except for low, scraggly weeds; to the NE 40-50 feet from road is a brick building 
      (20 ft. square) sitting in the middle of the clearing; on the building is a sign stating 
      "No Trespassing/Township of Moraine/Division of Water Supply" - the building is possibly a pumping station
       becasue the clearing runs straight up hill all the way to the other side and extends straight downhill 
      (about two football fields away) to another brick building which (with my binoculars) looks to be several 
      times the size of the first building; I'll try to check this building out when I close my loop at the end of the day.  
      <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    <script id="template-recon-three" type="template">
    <div class="recon-content">
   <img src="{{STATIC_URL}}locations/btex1.jpg" alt="Smiley face" height="42" width="42">
   <p> 9:10 AM - Back in the car - 150 yards further up the road is a BTEX gas station
   - where I pull in for a full tank of regular gasoline - the address is 21 - 172a Boulder Boulevard (aka Rt/ 66E)
   - the E is for Esker Countyh as this is the county road and the 21 is the 21s segment from the road's origin
   in Assininboine 23 miles to the SW (this as told to me by Al Milankovitch, the brother of the Tillie Terrain
   who owns both the diner next door and the gas station) - this I find out when I go to get a cup of coffee and
   buttered roll from the Tillie's Diner (21-172b) - the only 24 hour diner in Moraine. Tillie - very friendly and chatty.
   Pushing 60(?) - told me that the property and the diner were bought by her parents back in 1958 - that the diner was
   renamed Tillie's at that time - that she has worked there ever since - that the gas station was built in 1968 - and 
   that she purchased the property in 1971 after her husband died in 1970. Her brother Al  runs the gas station. The Firn
   Freeze across the road she says was opened in 1979 - it closes down at the end of September and reopens every April Fool's Day.
   <button id="go-back" class="begin">Go Back</button>
   <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
        <script id="template-recon-four" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/firnFreeze1.jpg" alt="Smiley face" height="42" width="42">
<p>9:40 AM - From the diner I pull across teh street into Firn Freeze (22-11 Boulder Blvd.),
 a local "Dairy Queen" type of operation - a bit run down, dusty gravel parking lot - the property sits on a triangle
 formed at the intersection of Rt. 66E and Loess Lane. Directly S across Loess Lane is what appears to be more Township
 property that ran all along the E side of Rt. 66E on my way up to BTEX - however the vegetation has changed to a 
deciduous forest (second or third growth) with the older trees mayber 50 to 70 years old - the soils are visually
 finer and dark brown in color.

    </p>
    </div>
    </script>
    
    








        <script id="template-recon-five" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/kilroys1.jpg" alt="Smiley face" height="42" width="42">
<p>9:45 AM - As I proceed E on Loess Lane there is a small strip of land with a few trees
 that appears distinct frm the asphalt parking lot of Kilroy's Bar (7 Loess Lane) - 
the frontage of this bar is about 200 feet - just beyond the bar is another open area with more
 trees and undergrowth (~100 feet of frontage) - directly across from this open space is a large
 asphalt driveway/enternce to the parking lot for the Wedging Nursery (at 10 Loess Lane) - as I
 pull into the parking lot I find it to be a bustling place with the small trucks and vans of 
local landscapers loading sod, dirt, chips, etc.

There are three long greenhouses on the W side of the Wedging 
parking lot(i.e., directly across from Kilroy's Bar) and one 
large and two smaller building around the lot - outback (to the S)
 from what I could see from the lot was a large sod farm with other 
growing areas for trees and shrubs(somewhere between 5 and 10 acres);
 just at the S end of the parking lot is a small square shed with old hose,
 pipe, and other irrigation equipment laying around - there are several large 
trees interspersed on the site and many trees and low growth bordering on the site. 
Just before leaving the nuersery I picked up a business card in the main office which 
says "Wedging Nursery/serving landscapers and gardeners since 1980/Rachel Kent, Proprietor."


          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
        <script id="template-recon-six" type="template">
    <div class="recon-content">

10:05 AM - Turning right onto Loess Lane heading E again - about 100 yds.
 down on the N side is a paved entrance to Plucker's Scrap Metal (15 Loess Lane),
 an auto wrecker and scrap metal business - there is a large fence surrounding the property
 - the front gate was open - the paved road extends straight in to the N ending in about 150 yds.
 In the distance in a 30 ft. high pile of scrap metal (fenders, hoods, doors, etc.) - on the right
 is a long building with stalls containing cars in various stages of being stripped - on the left
 is a small office building - there are cars everywhere. Some piled on each other - a dirt road extends
 to the W between more piles of parts, barrels, tires, etc. - a crane is operating off behind the office
 building lifting metal into a compactor- a real junkyard complete with the yelping of junkyard dogs that
 have announced my now unwelcome presence.


<img src="{{STATIC_URL}}locations/pluckers.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
            <script id="template-recon-seven" type="template">
    <div class="recon-content">
10:25 AM - I leave Plucker's turning left onto Loess Lane. 
Directly across from Plucker's is (according to the name on the mailbox)
 the Wedging family homestead (12 Loess Lane). A large 2 1/2 story edifice 
with mansard roof, two chimneys and eight gables - a paved driveway leads to a
 two car garage. The site is nicely landscaped with numerous shrubs and several
 large trees. Just 100 ft or so down from the Wedging family driveway on the N 
side of Loess Lane is a dirt road leading back into the junkyard but a metal gate
 blocks the way through it does not completely obscure the many cars and piles of 
sorted (and sordid?) debris.


<img src="{{STATIC_URL}}locations/LoessLane.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
            <script id="template-recon-eight" type="template">
    <div class="recon-content">
10:30 - I've finally arrived at the front entrance to the abandoned, 
Self-Lume factory site Lane(20 Loess Lane) which is about a football field 
away from the Wedging driveway and also on the S side of Loess. My key to the 
building itself is for the padlocked door in the rear parking lot but I also have
 keys for the chainlink gates at both entrances. The property is surrounded by an
 eight foot chain link fence. THe 200 ft entrance driveway extends straight to the
 S and is surrounded by dense deciduous forest with many large and intermediate trees
 and heavy undergrowth especially along the sides of the road. Coming down the road I
 can see part of the a water (?) tank on the roof. The foilage is the same around the
 parking lot. Both the road and the parking lot are littered with twigs, leaves and the
 like. The parking lot is about 150 ft wide and 300 ft long with a rectangular island 
(approx 30 x 200 ft) of trees and undergrowth right in the middle of the parking lot. 
From the S end of the lot there are two sidewalks about 100 ft apart, the W one leading
 to the main entrance (with a slightly rusted "Self-Lume, Inc." sign still in place over 
the entrance portico) and the E sidewalk leading to a smaller less imposing entrance probably
 for workers. Nothing seems unusual - single story, cinder block construction, a flat root
 not visible form the ground level, the windows are still intact and closed - the tan paint
 is weathered and peeling in places - empty office rooms (no furniture, no debris) are all 
one can see through the dirty windows. Large weeds, overgrown shrubs, and several young, 
invading trees now surround the building at the front end along the W wall; however at the
 SE corner of the parking lot is a sleared area about 40 ft wide running along the E wall
 of the factory - all that is growing here are weeds and grasses - the substrate consists
 of 3/4 inch diameter gravel with some dirt in the pore spaces - it looks like and old
 access road but it is inaccessible to vehicles because seven large glacial erratics have
 been moved into place at the edge of the parking lot in front of the cleared area. With
 binoculars I can see that this old road extends to the rear parking lot where I will 
have a better look.

<img src="{{STATIC_URL}}locations/selfLume1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
            <script id="template-recon-nine" type="template">
    <div class="recon-content">
11:05 AM - Leaving the Self-Lume site and turning right onto
 Loess Lane heading E. On the N side of the road about 200 ft.
 down from the Self-Lume entrance is a raod running straight to
 a large red barn and then another 150 ft. down the road is a 
driveway and a garage followed by a large two story red sandstone home.
 There is a sign near the mailbox which indicates that this home is an
 Esker County historic site and was build in 1837 as apart of the Fallow Farm.
 THe mailbox also says Meredith and James Fallow (25 Loess Lane) so 
I presume tha some part of the family continues to live here. The home
 sits on the NW corner of Loess Lane and Erratic Avenue and is nicely 
landscaped with several very large elegant oaks. On the NE corner there is a 
second or third growth forest with dense undergrowth and many intermediate trees.
 The same can be seen on the SE corner but older treese dominate the SW corner
 which is the NE corner of the Self-Lume site.


 <img src="{{STATIC_URL}}locations/fallowHome1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
    
            <script id="template-recon-ten" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/kameKondos1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
    
            <script id="template-recon-eleven" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/selfLume2.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
    
            <script id="template-recon-tweleve" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/fallowHome1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
    
    
                <script id="template-recon-thirteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/kameKondos1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
                   <script id="template-recon-fourteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/selfLume2.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
                    <script id="template-recon-fifteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/tillies.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
                    <script id="template-recon-sixteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/SelfLume_ClearedZone.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
    
                        <script id="template-recon-seventeen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/SelfLume_EastWall.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>                    <script id="template-recon-eighteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/selfLume1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>    
    
                    <script id="template-recon-nineteen" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/fourHomes1.jpgf" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
                        <script id="template-recon-twenty" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/vinyards1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
                            <script id="template-recon-twentyone" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locaitons/eolianAcers1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
                             <script id="template-recon-twentytwove" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/townWell1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
                                 <script id="template-recon-twentythree" type="template">
    <div class="recon-content">
<img src="{{STATIC_URL}}locations/ScrubBushes.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
    
    
                                     <script id="template-recon-twentyfour" type="template">
    <div class="recon-content">
  <img src="{{STATIC_URL}}locations/muniGovt1.jpg" alt="Smiley face" height="42" width="42">
          <button id="go-back" class="begin">Go Back</button>
      <button id="continue" class="begin">Continue</button>
    </p>
    </div>
    </script>
