{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block usernav %}{% endblock %}

{% block content %}
<h3>Welcome to Brownfield Action</h3>
<p class="lead">
Brownfield Action is a a web-based environmental science simulation that allows students to gain practice tackling the complexity and ambiguity of a large-scale, interdisciplinary science problem,
allows students to explore and solve real-world, interdisciplinary problems in environmental forensics, and teaches students the skills required to produce a professional level environmental site assessment.
</p>
<p class="lead">Log in to run the simulation. Or <a href="http://brownfieldaction.org" target="_blank">click here</a> for more information on the Brownfield Action project including a screencast, a guided walkthrough, and more.</p>
{% endblock %}


{% block logbox %}
<div class="loginbox-container columbia">
    <div class="loginbox">
        <h2>Welcome to Brownfield</h2>
        <div class="content">
        
        {% if form.errors %}
            <p class="errornote">
                <span>
                    <b>ERROR:</b> Invalid username or password.
                </span>
                Please try again. Note that both username and password are case-sensitive.
            </p>
        {% endif %}
        
            <p></p>
            <form id="login-local" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                    <div class="fieldwrapper">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div><!-- fieldwrapper -->
                
                    <div class="fieldwrapper">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div><!-- fieldwrapper -->
                </div>      
                <input class="regbutton" type="button" value="Guest Log In" {% if form.errors %}style="display: none"{% endif %}
                    onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                <input class="regbutton login-local-form" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />                        
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block loginbox %}{% endblock %}
