{% extends "base.html" %}

{% block title %}
   Please Login
{% endblock %}

{% block usernav %}
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/simulation/introduction/">Simulation</a></li>
        <li><a href="/classroom/teaching/">Teaching & Learning</a></li>
      </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contactus' %}">Contact</a>
    </li>
{% endblock %}

{% block outercontainer %}
<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <p class="lead" style="padding-top: 20px">
                Brownfield Action is a a web-based environmental science simulation that:
            </p>
            <ul class="lead">
                <li>allows students to gain practice tackling the complexity and ambiguity of a large-scale, interdisciplinary science problem,</li>
                <li>allows students to explore and solve real-world, interdisciplinary problems in environmental forensics,</li>
                <li>teaches students the skills required to produce a professional level environmental site assessment.</li>
            </ul>
        </div>
        <div class="col-md-4">
           <div class="loginbox">
                <h3 class="top">Log In</h3>

                <div style="padding-top: 5px">
                    <div>
                        {% if form.username.errors %}
                            <div class="alert alert-danger"><p>Please enter your username.</p></div>
                        {% else %}    
                            {% if form.password.errors %}
                                <div class="alert alert-danger"><p>Please enter your password.</p></div>
                            {% else %}                
                                {% if form.errors %}
                                    <div class="alert alert-danger"><p>Please enter a correct username and password. Note that both fields are case-sensitive.</p></div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <form method="post" action=".">
                        <div><label for="id_username">Username</label></div>
                        <div>{{ form.username }}</div>
                        <br />
                        <div><label for="id_password">Password:&nbsp;&nbsp;</label></div>
                        <div>{{ form.password }}</div>
                        <br />
                        <div><input class="btn" type="submit" value="Log In"></input></div>
                        <input type="hidden" name="next" value="{{ next }}"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h4><a href="/simulation/basics/">Research</a></h4></div>
              <div class="panel-body">
                <div><img src="{{STATIC_URL}}img/bf_bronx.jpg" style="width: 100%; height: auto; "/></div>
                <h5>What is a <i>brownﬁeld</i>? What is an environmental site assessment? <a href="/simulation/basics/">more</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h4><a href="/simulation/introduction/">Experiment</a></h4></div>
              <div class="panel-body">
                <div><img src="{{STATIC_URL}}img/sitevisit.jpg" style="width: 100%; height: auto; "/></div>
                <h5>Investigate groundwater contamination in a virtual township. <a href="/simulation/introduction/">more</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h4><a href="/classroom/teaching/">Teach</a></h4></div>
              <div class="panel-body">
                <div><img src="{{STATIC_URL}}img/cls_img01.jpg" style="width: 100%; height: auto; "/></div>
                <h5>Learn how to use Brownfield Action in the classroom. <a href="/classroom/teaching/">more</a></h5>
              </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}