<div class="tab-pane active" id="course-documents">
    <h1>Course Details</h1>

    <div class="course_message">
        <h3>Course message:</h3>
        {{object.message}}
    </div><!-- End Course Message -->

    <h3>Course Documents</h3>
    <form id="upt-doc-frm" method="" action="" style="display: none;">{% csrf_token %}</form>
    <div class="documents_list">
        
    </div><!-- End Document List -->


    <div class="course-info">
        <div id="course-from" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#course-from" href="#collapseForm">
                    Edit Form
                    </a>
                </h4>
            </div><!-- End panel heading -->
            <!-- <div id="collapseForm" class="panel-collapse collapse in"> -->
            <div id="collapseForm" class="panel-collapse collapse">
                <div class="panel-body">
                    <form id="upt-crs-frm" method="" action="" style="display: none;">{% csrf_token %}</form>
                    {{object.get_course_form.as_p}}
                </div><!-- End panel body -->
            </div><!-- End collapsing Form -->
        </div><!-- End Course Form -->
    </div><!-- End Course Info -->


    <div class="course-activation">
        <div class="crs-act-info">
            <h3>Activate Course</h3>
            <p>Activating the course teams will Every student should be a member of a team before you begin.
               <ul>
               This will:
                   <li>Activate accounts for all non-activated teams with at least one student member.</li>
                   <li>For those new teams, send the student members email (cc'ing you) with the username and password for their team.</li>
                   <li>Disable the Class account password, so students cannot add or change teams.</li>
               </ul>
            </p>
        </div><!-- End Course Activation Info -->
        <div class="crs-activate">
            <form id="act-crs-frm" method="" action="" style="display: none;">{% csrf_token %}</form>
            <input type="hidden" name="crs-id" value="{{object.pk}}"/>
            <button id="activation-btn" type="button">
                Activate Course
            </button><br /><br />
        </div>
    </div><!-- End Course Activation -->
    
    <div class="deactivate-course">
    </div>
    
</div><!-- End Tab Content -->