<div class="tab-pane" id="course-team-students">

    <div id="course-teams">
        <h3>Teams</h3>

        <ul>
            {% for c in object.get_students %}
            <li>
                <a href=/course/{{c.pk}}>{{ c.name }}</a>
            </li>
            {% empty %}
            <li>
                You are not in any courses yet.
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="course-students">
        <h3>Students</h3>

        <ul>
            {% for student in object.get_teams %}
            <li>
                <a href=/course/{{c.pk}}>{{ course.name }}</a>
            </li>
            {% empty %}
            <li>
                No courses yet.
            </li>
            {% endfor %}
        </ul>
    </div>

</div>