<!DOCTYPE HTML>
<html>
  <head>
    <title>Backbone Detail List</title>
  <script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
  <script src="{{STATIC_URL}}js/underscore-min.js"></script>
  <script src="{{STATIC_URL}}js/backbone-min.js"></script>

  
  <!-- 
  
      <script id="template-usercourse" type="template">
    <div class="course">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
    
    <script id="template-usercourselist" type="template">
    <div class="course">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
  
    
 -->
  </head>
  
  
  <body>
  
    <p>Courses Should be Here</p>
  
    <div id="course_display">
      <div class="controls">
        <button class="add">Add New Course</button>
        <form method="" action="" style="display: none;">
          <input type="text" placeholder="Course Name" class="courseName" /><br />
          <input type="text" placeholder="Starting Budget" class="startingBudget" /><br />
          <input type="text" placeholder="Narrative Enabled" class="email" /><br />
          <input type="text" placeholder="Message" class="message" /><br />
          <input type="submit" value="Save Course" />
        </form>
      </div>

      <div class="listing">
      </div>
    </div>
    
    
    
    
    <div id="team_display">
      <div class="listing"></div>
    </div>
    
    <div id="student_display">
      <div class="listing"></div>
    </div>
    
    <div id="documents_display">
      <div class="listing"></div>
    </div>
    
    <!-- 
        Putting script tags for GUI elements
        	- Course Rows
        	- Course List
        	- User Course Rows - ?
        	- User Course List - ?
     -->
    <script id="template-course" type="template">
    <div class="course">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
    
    <script id="template-courselist" type="template">
    <div class="courselist">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
    <script id="template-student" type="template">
    <div class="student">
        <h2><%-firstName%><%-lastName%><%-email%><%-username%></h2>
        <button class="delete">Delete</button>
    </div>
    </script>

    
    <script id="template-studentlist" type="template">
    <div class="course">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>

    
    
  </body>

  <script src="{{STATIC_URL}}js/main.js"></script>
  <script src="{{STATIC_URL}}js/models/course.js"></script>
  <script src="{{STATIC_URL}}js/models/team.js"></script>
  <script src="{{STATIC_URL}}js/models/student.js"></script>
  <script src="{{STATIC_URL}}js/models/document.js"></script>
  <script src="{{STATIC_URL}}js/collections/students.js"></script>
  <script src="{{STATIC_URL}}js/collections/courses.js"></script>
  <script src="{{STATIC_URL}}js/collections/teams.js"></script>
  <script src="{{STATIC_URL}}js/collections/documents.js"></script>
  <script src="{{STATIC_URL}}js/views/course.js"></script>
  <script src="{{STATIC_URL}}js/views/courselist.js"></script>
  <script src="{{STATIC_URL}}js/views/studentlist.js"></script>
</html>
