<bfaxml>
  <config>
    <user realname="${record.name}" 
	  signedcontract="true" 
	  startingbudget="${int(record.course.startingBudget)}" 
	  py:attrs="{'access':record.access}"
	  />
    <narrative enabled="${record.course.enableNarrative}" />
    <information>
      <info py:for="i in record.info" type="${i.infoType}" name="${i.internalName}"/> 
    </information>
  </config>
  <testdata>
    <test py:for="t in record.tests"
	  py:attrs="{'paramstring':t.paramString,'z':t.z}" 
	  x="${t.x}" 
	  y="${t.y}" 
	  n="${t.testNumber}" />
  </testdata>
  <budget>
    <i py:for="t in record.history"
       a="${int(t.cost or 0)}" 
       t="${t.date and t.date.strftime('%Y/%m/%d/%H/%M')}" 
       d="${t.description}" />
  </budget>
</bfaxml>