<html>
<head>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/brownfield.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}old_javascript/swfobject.js"></script>
</head>
<body>
    <h3 id="flvtitle">Video</h3>

    <p id="player1"><a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</p>
    <script type="text/javascript">
        //just get the flv={qvals[1]} title={qvals[3]} arguments
        /*
        "qvals" play:17
        Object {  } play:18
        "qvals.flv" play:19
        undefined play:20
        "/media//media/+qvals.flv" play:21
        "/media//media/undefined"        
        */
        
        // I believe this is simply adding the cachebuster var to the end of the string
        // seems to need this qvals to run not sure why... its undefined
        var qvals = parseQueryString(document.location.search.substr(1))
    	var s1 = new SWFObject("{{STATIC_URL}}flash/flvplayer.swf","single","320","260","7");
        console.log("document.location.search.substr(1)");
        console.log(document.location.search.substr(1));
        s1.addParam("allowfullscreen","true");
        s1.addVariable("autostart","true");
        //console.log("qvals");
        //console.log(qvals);
        //console.log("qvals.flv");
        //console.log(qvals.flv);
        //console.log("{{STATIC_URL}}/media/+qvals.flv");
        //console.log("{{STATIC_URL}}/media/" + qvals.flv);
        //s1.addVariable("file","/media/"+qvals.flv);
        s1.addVariable("file", "../demo/history/");
        console.log(s1.file);
        if ('title' in qvals) { 
            //we have a title (already restricted to \w\s chars for js security issues)
    	    $('flvtitle').innerHTML = qvals.title.replace(/[^\w\s]/g,"'");
	    }
        //s1.addVariable("image","preview.jpg");
	    s1.write("player1");
    </script>



</body>
</html>
