{% extends 'base.html' %}
{% block js %}

{% endblock %}
{% block content %}



<div class="row">
  <div class="col-xs-6 col-sm-3">
<h3>Documents</h3>
<div id="document_container">
{% for document in documents %}
    <div class="document">
        <h2>{{document.name}}<a href="{{STATIC_URL}}documents/{{document.link}}">{{document.name}}</a></h2>
        <button class="download">Download</button>
    </div>
{% empty %}
<p>Sorry there are no documents for this course yet.</p>
{% endfor %}
</div>












{% block template_tags %}
    <script id="template-course" type="template">
    <div class="course">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
    
    <script id="template-courselist" type="template">
    <div class="courselist">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
    <script id="template-courseform" type="template">
    <div class="courselist">
        <h2><%-nameCourse%><% if (message) { %> <%-message%><% } %></h2>
        <button class="delete">Delete</button>
    </div>
    </script>
    
{% endblock %}



    <h1>Course List</h1>
    <div id="course_display">
      <div class="controls">
        <button class="add">Add New Course</button>
        <form method="" action="" style="display: none;">
          <input type="text" placeholder="Course Name" class="courseName" /><br />
          <input type="text" placeholder="Starting Budget" class="startingBudget" /><br />
          <input type="text" placeholder="Narrative Enabled" class="email" /><br />
          <input type="text" placeholder="Message" class="message" /><br />
          <input type="submit" value="Save Course" />
        </form>
      </div>

      <div class="listing">
      </div>
    </div>
    

    <h3>Your Courses</h3>
    <ul>
    {% for c in user_courses %}
    <li> <a href=/course/{{c.pk}}> {{ c.name }} </a></li>
    {% empty %}
    <li>You are not in any courses yet.</li>
    {% endfor %}
    </ul>
    <h3>All Brownfield Action Courses</h3>
    <ul>
    {% for course in courses %}
    <li> <a href=/course/{{c.pk}}> {{ course.name }} </a></li>
    {% empty %}
    <li>No courses yet.</li>
    {% endfor %}
    </ul>
    
            context['user_courses'] = Course.objects.filter()
        context['all_courses'] = Course.objects.all()
        context['course_form'] = CourseForm()
        
         <script src="{{STATIC_URL}}js/main.js"></script>
  <script src="{{STATIC_URL}}js/models/course.js"></script>
  <script src="{{STATIC_URL}}js/models/team.js"></script>
  <script src="{{STATIC_URL}}js/models/student.js"></script>
  <script src="{{STATIC_URL}}js/models/document.js"></script>
  <script src="{{STATIC_URL}}js/collections/students.js"></script>
  <script src="{{STATIC_URL}}js/collections/courses.js"></script>
  <script src="{{STATIC_URL}}js/collections/teams.js"></script>
  <script src="{{STATIC_URL}}js/collections/documents.js"></script>
  <script src="{{STATIC_URL}}js/views/course.js"></script>
  <script src="{{STATIC_URL}}js/views/courselist.js"></script>
  <script src="{{STATIC_URL}}js/views/studentlist.js"></script>
{% endblock %}