<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"
    py:extends="'master.kid'">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
<title>Welcome to Brownfield Action</title>
  <script type="text/javascript" src="/static/javascript/ajaxify_forms.js"></script>
  <script type="text/javascript" src="/static/javascript/brownfield.js"></script>
</head>
<body>


<div id="pagemenu">
	<ul id="pagemenutabs">
		<li id="courselist" class="active"><span><a href="javascript:showCourseList()">Course list</a></span></li>
		<li id="userlist" py:if="identity.has_permission('site_admin')"><span><a href="javascript:showUserList()">User list</a></span></li>
		<li id="demolink" py:if="identity.has_permission('course_admin') or tg.identity.anonymous"><span><a href="javascript:showDemo()">Demo</a></span></li>
	</ul>
</div><!-- id="pagemenu" -->

<div id="courselistblock">
<h2 id="top">Course List</h2>

<h3>Your courses:</h3>
<ul id="mycourses" py:if="not tg.identity.anonymous">
<li py:for="course in tg.identity.user.courses">
  <a href="/course/${course.id}">${course.name}</a>
</li>
</ul>

<br/>

<h3 py:if="identity.has_permission('course_admin')">All Brownfield Action courses:</h3>
<ul py:if="identity.has_permission('course_admin')">
<li py:for="course in admin['courses']">
  <a href="/course/${course.id}">${course.name}</a>
  <form name="course_delete" py:if="identity.has_permission('site_admin')" id="course_delete_${course.id}" action="/course/${course.id}/confirm" method="delete">
    <input class="submitbutton" type="submit" value="Delete" />
  </form>
</li>
</ul>
</div><!-- id="courselistblock" -->


<div id="main_content">

		<div id="courseadmin" py:if="identity.has_permission('course_admin')">
		<!--a href="/course/;add_form" >Add a Course</a-->
		<!-- <span id="addcourselink" class="linkheading">Add a Course</span> -->
		<h2>Add a Course</h2>
			<div id="courseform">
			${admin['course_form'](submit_text="Add",action="course", form_attrs=[('id',admin['course_form'].name)])}
			</div>
		</div>

		<div id="siteadmin" py:if="identity.has_permission('site_admin')">
		  <div id="userlistblock">
		    <h2 id="top">User List</h2>

		    <h3>Administrators:</h3>
		    <ul id="user_admin">
		      <li py:for="u in admin['user_admins']">
			<a href="/user/${u.id}/edit_form">${u.user_name}</a>
			<form py:if="u is not tg.identity.user" name="user_delete" id="user_delete_${u.id}" action="/user/${u.id}/confirm" method="delete">
			  <input class="submitbutton" type="submit" value="Delete" />
			</form>
		      </li>
		    </ul>

		    <h3>Professors:</h3>
		    <ul id="user_admin">
		      <li py:for="u in admin['user_profs']">
			<a href="/user/${u.id}/edit_form">${u.user_name}</a>
			<form id="user_delete_${u.id}" action="/user/${u.id}/confirm" method="delete">
			  <input class="submitbutton" type="submit" value="Delete" />
			</form>

		      </li>
		    </ul>
		  </div>


		<!--a href="/user/;add_form" >Add a User</a-->
		<!-- <span id="adduserlink" class="linkheading">Add a User</span> -->
		<h2>Add a User</h2>
			<div id="courseform">
			${admin['user_form'](submit_text="Add",action="user", form_attrs=[('id',admin['user_form'].name)] )}
			</div>
		</div>
		<div id="demo" style="display:none" py:if="identity.has_permission('course_admin') or tg.identity.anonymous">
		  <div id="playbfa">
		    <a href="javascript:openPopWin('demo/play','800','600','no','yes','bfa',true)" title="Play Brownfield Action"><img src="/static/images/playbfa.gif" alt="" width="152" height="166" border="0" /></a>
		  </div>
		</div>

</div>


</body>
</html>