{% extends 'base.html' %}

{% block js %}

{% endblock %}

{% block content %}

  <ul class="nav nav-tabs instructor-nav">
    <li class="active"><a href="#course-documents" data-toggle="tab">Course Info</a></li>
    <li><a href="#course-team-students" data-toggle="tab">Teams and Students</a></li>
  </ul>
 
  <div class="instructor tab-content">
    {% include "main/instructor/course_dash/course_detail_tab.html" %}
    {% include "main/instructor/course_dash/student_team_tab.html" %}
  </div>
{% comment %}{% endcomment %}
{% endblock %}

{% block bbjs %}
<script type="text/javascript" src="{{STATIC_URL}}js/utility_scripts/backbone_sync.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/instructorjs/documentlist.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/instructorjs/students.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/instructorjs/details_course.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/instructorjs/activate_course.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/instructorjs/teams.js"></script>
{% endblock %}
