/* $Id: style.css,v 1.0 2007/02/14 22:20:48 unconed Exp $ */
/* ------------------------------------------------------ */
/*                                                        */
/*  This is the CSS for Brownfield Action site            */
/*  Author: Zarina Mustapha                               */
/*  Date created: Feb 14, 2007                            */
/*  Date modified: Feb 14, 2007                           */
/*  Copyright CCNMTL                                      */
/*                                                        */
/* ------------------------------------------------------ */


/*
** HTML elements
*/

body
{
	min-width: 900px;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0;
	background: #8e9b5b url(../images/bg_default.jpg);
	font: normal 0.8em arial, verdana, helvetica, sans-serif;
	color: #000;
	text-align: left;
}

tr.odd td, tr.even td { padding: 0.3em; }
td { max-width: 300px !important; overflow: hidden;}
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5em; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3, h4, h5, h6 { font-size: 1.1em; }

p
{
	margin-top: 0.5em;
	margin-bottom: 0.9em;
	line-height: 130% !important;
}

a
{
	text-decoration: none;
	font-weight: bold;
}

a:link { color: #39c; }
a:visited { color: #369; }

a:hover
{
	color: #39c;
	text-decoration: underline;
}

table.images, table.images tbody, table.images tr, table.images td
{
	clear: both;
	border: 0px solid #fff !important;
	width: auto;
}

#column-left .block a
{
	font-weight: normal;
	color: #360;
}

#column-left .block a:hover
{
	font-weight: normal;
	color: #360;
}

fieldset { border: 1px solid #ccc; }

pre
{
	background-color: #eee;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}

.form-item label
{
	font-size: 1em;
	color: #222;
}

.item-list .title
{
	font-size: 1em;
	color: #222;
}

.links { margin-bottom: 0em; }
.comment .links { margin-bottom: 0em; }



/*
** Page layout blocks / IDs
*/

#header
{
	width: 900px;
	height: 42px;
	margin: auto;
	padding: 0;
	border: 0;
	background: url(../images/bg_header_middle.jpg) left bottom repeat-x;
}

#header-inner
{
	width: 900px;
	height: 42px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/bg_header_left.jpg) left bottom no-repeat;
}

#header-content
{
	width: 900px;
	height: 42px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/bg_header_right.jpg) right bottom no-repeat;
}

#content { width: 100%; }

#logo
{
	vertical-align: middle;
	border: 0;
}

#logo img
{
	float: left;
	padding: 0em 1.0em 0em 1em;
	border: 0;
}

#menu
{
	padding: 0.5em 0.5em 0 0.5em;
	text-align: right;
	vertical-align: middle;
}

#primary
{
	font-size: 1.0em;
	padding: 0em 0.8em 0.5em 0;
	color: #9cf;
}

#primary a
{
	font-weight: bold;
	color: #fff;
}

#secondary
{
	padding: 0 1em 0.5em 0;
	font-size: 0.8em;
	color: #9cf;
}

#secondary a
{
	font-weight: bold;
	color: #9cf;
}

#search .form-text, #search .form-submit
{
	border: 1px solid #369;
	font-size: 1.1em;
	height: 1.5em;
	vertical-align: middle;
}

#search .form-text
{
	width: 8em;
	padding: 0 0.5em 0 0.5em;
}

.form-submit
{
	margin: 1px 0 0 0;
	padding: 2px  1px 0 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	cursor: pointer;
	font: bold 12px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

.form-submit:active
{
	background-color: #cccccc;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #666;
	border-top: 2px solid #666;
}

#mission
{
	background-color: #369;
	padding: 1.5em 2em;
	color: #fff;
}

#mission a, #mission a:visited
{
	color: #9cf;
	font-weight: bold;
}

.site-name
{
	margin: 0;
	padding: 0;
}

.site-name a
{
	display: block;
	width: 395px;
	height: 42px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/logo_bfa.gif) left bottom no-repeat;
}

.site-name span,
.site-ccnmtl span
{
	display: none;
}

.site-slogan
{
	font-size: 1em;
	color: #eee;
	display: block;
	margin: 0em 0em 0em 0em;
	font-style: italic;
	font-weight: bold;
	display: none;
}

.site-ccnmtl
{
	margin: 10px 10px 0 0;
	padding: 0;
	float: right;
}

.site-ccnmtl a
{
	display: block;
	width: 108px;
	height: 24px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/logo_ccnmtl.gif) left bottom no-repeat;
}

#container
{
	width: 900px;
	margin: auto;
	margin-bottom: 30px;
	padding: 0;
	border: 0;
	background: url(../images/bg_container_middle.jpg) left top repeat-y;
}

#container-inner
{
	width: 900px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/bg_container_top.jpg) left top no-repeat;
}

#column-left
{
	display: block;
	float: left;
	width: 241px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

#column-middle
{
	display: block;
	float: right;
	width: 651px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

#pagebody
{
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 0 4px;
}

#main
{
	margin: 5px 10px 0 10px;
	padding: 5px 10px;
	border: 1px solid #999;
	background-color: #fff;
}

#main a
{
	font-weight: normal;
}

.special_actions
{
	margin: 0;
	padding: 0;
	border: 0;
}

.special_actions dt
{
	margin: 0 0 0.5em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

.special_actions dd
{
	margin: 0 0 1em 1em;
	padding: 0 0 1em 0;
	border-top: 1px solid #fff;
	border-bottom: 1px dotted #999;
}


#courselistblock,#courseadmin, #courseinfoblock
{
	display: block;
}

#siteadmin, #teamstudentsblock
{
	display: none;
}

.studentlistbox
{
	min-width: 200px;
	max-width: 40%;
	border: 1px dotted #999;
	float:left;
	padding: 0.5em;
	background: #fff;
}

ul#noteam
{
	margin: 1em 0 0 0;
	padding: 0.5em;
	list-style: none;
	border: 1px solid #666;
	background: #efefef;
}

ul#noteam li
{
	margin: 0.3em 0;
	padding: 0.3em;
	background-color: #ccc;
	cursor: pointer;
}

ul#noteam lh
{
	background-color: transparent;
	font-style: italic;
}

.teamlistbox
{
	min-width: 40%;
	max-width: 40%;
	border: 1px dotted #999;
	float:left;
	margin-left: 0.5em;
	padding: 0.5em;
	background: #fff;
}

.studentlistbox a, .teamlistbox a
{
	text-decoration: underline;
	font-weight: normal;
}

ol#teams
{
	margin: 0;
	padding: 0.5em;
	list-style: none;
	border: 0;
	background: #fff;
}

ol#teams li
{
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #999;
}

ol#teams li .teamname
{
	font-size: 1.1em;
	font-weight: bold;
	color: #360;
}

.teamlistbox p,
.teamlistbox form
{
	margin: 0.5em 0;
}

.resetButton
{
	margin: 0 0 0 0;
	padding: 2px  1px 0 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	cursor: pointer;
	font: normal 1em helvetica, arial, verdana, sans-serif;
}

a.resetButton
{
	display: block;
	width: 13em;
	margin: 1em 0 0 0;
	padding: 0.3em 1px 0.1em 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	cursor: pointer;
	font: normal 1em helvetica, arial, verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	color: #000;
}


ul.team
{
	margin: 0;
	padding: 0.3em;
	list-style: none;
	border: 1px solid #666;
	background: #d6f0d3;
}

ul.team li
{
	margin: 0.3em 0 !important;
	padding: 0.3em !important;
	background-color: #99cc99;
	border: 0 !important;
	cursor: pointer;
}

ul.team lh
{
	background-color: transparent;
	font-style: italic;
	font-weight: bold;
}

.leftside
{
	float: left; width: 500px;
}

.rightside
{
	margin-left: 1em;
	float: left; width: 300px;
}

#playbfa
{
	margin: 1em;
	text-align: center;
}


.node .content a
{
	text-decoration: underline;
	font-weight: normal;
}

.node .content a:link { color: #360; }
.node .content a:visited { color: #360; }

.node .content a:hover
{
	color: #090;
	text-decoration: none;
}

#main h2
{
	margin: 2.5em 0 1.2em 0;
	padding: 0;
	border: 0;
	border-bottom: 1px dotted #999;
	font-size: 1.3em;
	line-height: 120%;
	color: #360;
}

#main h2#top, #main h2.top
{
	margin-top: 0;
}

#main h2.topbox
{
	margin-top: 0;
	margin-bottom: 0 !important;
}	padding-bottom: 0 !important;


#mission, .node .content, .comment .content { line-height: 1.4; }

#help
{
	font-size: 0.9em;
	margin-bottom: 1em;
}

.clearall
{
	clear: both;
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.messages
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 0.3em;
	margin-bottom: 1em;
}

.error { border-color: red; }
.fielderror, .errormessage { 
	margin-left: 5px;
	color: red;
	font-weight: bold;		     
}

#sidebar-left, #sidebar-right
{
	background-color: #ddd;
	width: 16em;
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 10px;
	vertical-align: top;
}

#footer
{
	width: 900px;
	margin: auto;
	margin-bottom: 30px;
	padding: 0;
	border: 0;
	background: #8e9b5b url(../images/bg_container_middle.jpg) left bottom repeat-y;
}

#footer-inner
{
	width: 900px;
	margin: 0;
	padding: 5px 0 10px 0;
	border: 0;
	background: url(../images/bg_container_bottom.jpg) left bottom no-repeat;
	text-align: right;
}

#footer h2
{
	visibility: hidden;
	display: none;
}

#footer .block, #footer .content
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: right;
}

#footer ul.menu
{
	height: 2em;
	list-style: none;
	margin: 0 4px;
	padding: 0;
	border: 0;
	text-align: right;
}

#footer ul.menu li
{
	float: right;
	display: block;
	margin: 2px 7px 0 15px;
	padding: 0;
	border: 0;
	line-height: 2em;
}

#footer li.leaf
{
	list-style-type: none;
	list-style-image: url();
	margin: 0;
	padding: 0;
	border: 0;
}

#footer li a { font-weight: normal; color: #000; }


/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

#pagebody h1.title
{
	margin: 0;
	padding: 0 0 0 10px;
	border: 0;
	color: #fff;
	height: 60px;
	overflow: hidden;
	background: url(../images/bg_masthead.jpg) left top no-repeat;
	font: normal 30px/90px "trebuchet ms", arial, verdana, sans-serif;
	text-transform: uppercase;
}

.title, .title a
{
	font-weight: bold;
	font-size: 1.3em;
	color: #777;
	margin: 0 auto 0 auto;
	/* decrease default margins for h<x>.title */
}

#gnavbar
{
	height: 27px;
	line-height: 27px;
	background: url(../images/bg_gnavbar.gif) left top repeat-x;
}

#courseform table,
#teamform table,
#studentform table
{
	width: 90%;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}

#teamform table,
#studentform table
{
	width: auto;
}

#courseform table th,
#teamform table th,
#studentform table th
{
	margin: 0;
	padding: 0.4em 0.3em;
	border: 0;
	width: 12em;
	border: 0;
	text-align: right;
}

#teamform table th,
#studentform table th
{
	width: 8em;
}

#courseform table td,
#teamform table td,
#studentform table td
{
	margin: 0;
	padding: 0.4em 0.3em;
	border: 0;
}

#courseform table .odd,
#teamform table .odd,
#studentform table .odd
{
	background: #efefef
}

.submitted
{
	display: none;
	visibility: hidden;
	color: #999;
	font-size: 0.8em;
}

.links { color: #999; }
.links a { font-weight: bold; }
.block, .box { padding: 0 0 1.5em 0; }

.block
{
	border-bottom: 1px solid #bbb;
	padding-bottom: 0.75em;
	margin-bottom: 1.5em;
}

#column-left .block
{
	margin: 5px 0 0 4px;
	padding: 5px;
	border: 1px solid #999;
	border-left: 0;
	background-color: #fff;
}

#column-left .block h2
{
	padding-bottom: 2px;
	border-bottom: 1px dotted #999;
	font-size: 1em;
	color: #663;
}

/*
** Menu styles column-left
*/
#column-left ul.menu
{
	list-style: none;
	border: 0;
	text-align: left;
	margin: 0;
	padding: 0;
}

#column-left ul.menu ul
{
	margin-left: 20px;
	padding: 0;
}

#column-left ul.menu li { margin: 0 0 0 0; }

#column-left li.expanded
{
	list-style-type: none !important;
	list-style-image: none !important;
	list-style: none !important;
	padding: 0.3em 0.5em 0 0;
	margin: 0;
	background: url(../images/menu-expanded.png) 0 4px no-repeat;
}

#column-left li.collapsed
{
	list-style-type: none !important;
	list-style-image: none !important;
	list-style: none !important;
	padding: 0.3em 0.5em 0 0;
	margin: 0;
	background: url(../images/menu-collapsed.png) 0 4px no-repeat;
}

#column-left li.leaf
{
	list-style-type: none !important;
	list-style-image: none !important;
	list-style: none !important;
	padding: 0.3em 0.5em 0 0;
	margin: 0;
	background: url(../images/menu-leaf.png) 0 4px no-repeat;
}

#column-left li a
{
	display: block;
	padding-left: 20px;
}

#column-left #usernamelog
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	display: block;
	width: 241px;
	height: 24px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../images/bg_demotrailer.jpg) left top no-repeat;
	overflow: hidden;
}

#userlogin
{
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	list-style-type: none;
}

#userlogin li
{
	display: block;
	float: left;
	height: 25px;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 25px;
	border-right: 1px solid #663;
}

#userlogin li#userlogname
{
	margin: 0;
	background: url(../images/user.gif) 5px center no-repeat;
}

#userlogin li a, #userlogin li span
{
	display: block;
	height: 25px;
	margin: 0;
	padding: 0 10px 0 30px;
	border: 0;
	line-height: 27px;
	color: #000 !important;
	font-weight: normal;
}

#userlogin li#userlogout a, #userlogin li#userlogout span
{
	padding: 0 5px 0 5px;
}

#userlogin li.last
{
	border-right: 0;
}

#coursemenu
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	list-style-type: none;
}

#coursemenu li
{
	display: block;
	float: left;
	height: 25px;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 25px;
	border-right: 1px solid #663;
}

#coursemenu li#mainhome
{
	margin: 0;
	background: url(../images/home.gif) 5px center no-repeat;
}

#coursemenu li a, #coursemenu li span
{
	display: block;
	height: 25px;
	margin: 0;
	border: 0;
	line-height: 27px;
	color: #000 !important;
	font-weight: normal;
}

#coursemenu li span
{
	padding: 0 10px 0 30px;
}

#pagemenu
{
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px solid #999;
	height: 24px;
}

#pagemenu a
{
	font-weight: bold;
}

#pagemenutabs
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	list-style-type: none;
}

#pagemenutabs li
{
	display: block;
	float: left;
	height: 23px;
	margin: 0 .3em;
	padding: 0 .5em;
	border: 0;
	line-height: 23px;
	border: 1px solid #999;
	background-color: #efefef;
}

#pagemenutabs li span
{
	color: #999;
	font-weight: bold;
}

#pagemenutabs li.active
{
	border-bottom: 1px solid #fff;
	background-color: #fff
}

#pagemenutabs li.active span
{
	color: #360;
	font-weight: bold;
}

#column-left .block-user
{
	/*background-color: #f7ebdf;*/
	background-color: #f0eedc;
}

#column-left #block-user-0
{
	text-align: left;
}

#column-left #block-user-0 h2
{
	text-align: left;
}

#column-left #user-login-form
{
	margin: 0 0 0 10px;
}

#column-left #block-user-0 .item-list ul
{
	margin: 0;
	padding: 2px 0 0 0;
	border: 0;
	border-top: 1px dotted #999;
	list-style: none;
	list-style-type: none;
}

#column-left #block-user-0 .item-list li
{
	margin: 0.3em 0 0 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

#column-left #user-login-form .form-item label
{
	display: block;
	font-weight: bold;
}

#column-left #user-login-form .form-item #edit-name,
#column-left #user-login-form .form-item #edit-pass
{
	width: 150px;
	border: 1px solid #999;
	padding: 2px;
	font: normal 1em arial, verdana, helvetica, sans-serif;
}

#column-left #user-login-form .form-submit
{
	margin: 0 0 10px 0;
}

.block .title { margin-bottom: .25em; }
.box .title { font-size: 1.1em; }
.node { margin: .5em 0 2em 0; }

.sticky
{
	padding: .5em;
	background-color: #eee;
	border: solid 1px #ddd;
}

.node .content, .comment .content { margin: 0 0 .5em 0; }

.node .taxonomy
{
	color: #999;
	font-size: 0.8em;
	padding: 1.5em;
}

.node .picture
{
	border: 1px solid #ddd;
	float: right;
	margin: 0.5em;
}

.comment
{
	border: 1px solid #abc;
	padding: .5em;
	margin-bottom: 1em;
}

.comment .title a
{
	font-size: 1.1em;
	font-weight: normal;
}

.comment .new
{
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}

.comment .picture
{
	border: 1px solid #abc;
	float: right;
	margin: 0.5em;
}

/*
** Module specific styles
*/

#aggregator .feed-source
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em 0 1em 0;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age
{
	color: #999;
	font-style: italic;
	font-size: 0.9em;
}

#aggregator .title
{
	margin-bottom: 0.5em;
	font-size: 1em;
}

#aggregator h3 { margin-top: 1em; }
#forum table { width: 100%; }
#forum td { padding: 0.5em 0.5em 0.5em 0.5em; }
#forum td.forum, #forum td.posts { background-color: #eee; }
#forum td.topics, #forum td.last-reply { background-color: #ddd; }
#forum td.container { background-color: #ccc; }
#forum td.container a { color: #555; }

#forum td.statistics, #forum td.settings, #forum td.pager
{
	height: 1.5em;
	border: 1px solid #bbb;
}

#forum td .name { color: #96c; }

#forum td .links
{
	padding-top: 0.7em;
	font-size: 0.9em;
}

#profile .profile
{
	clear: both;
	border: 1px solid #abc;
	padding: .5em;
	margin: 1em 0em 1em 0em;
}

#profile .profile .name { padding-bottom: 0.5em; }
.block-forum h3 { margin-bottom: .5em; }
.calendar a { text-decoration: none; }

.calendar td, .calendar th
{
	padding: 0.4em 0;
	border-color: #888;
}

.calendar .day-today { background-color: #69c; }
.calendar .day-today a { color: #fff; }

.calendar .day-selected
{
	background-color: #369;
	color: #fff;
}

.calendar .header-week { background-color: #ccc; }
.calendar .day-blank { background-color: #ccc; }

.calendar .row-week td a:hover
{
	background-color: #fff;
	color: #000;
}


/**
   * Override for img_assist.css definitions of inline images 
**/

span.left
{
	float: left;
	margin: 5px 10px 5px 0px;
}

span.right
{
	float: right;
	margin: 5px 0px 5px 10px;
}

span.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span.caption
{
	display: block; /* put the caption under the image (not next to it) */
}

.inline img
{
	border: 1px solid #999; /* put a thin border around inline images */
}

.multichoice_form .form-item
{
	margin: 0 0 20px 0;
}

#quiz_progress
{
	font: bold 1.2em arial, verdana, helvetica, sans-serif;
}

.multichoice_answer_text p
{
	margin: 0;
	padding: 0;
	display:inline;
}


.multichoice_answer_text {
  margin: -1.4em 0 0 2em;
}

/*
** Definitions that apply on the summary pages
*/
.quiz_question_bullet {
  font-weight: bold;
  font-size: 120%;
}
#quiz_score_possible, #quiz_score_percent {
  font-weight: bold;
}
.quiz_summary_question {
  margin-bottom: 0.5em;
}
tr.quiz_summary_qrow {
  background: transparent;
}
td.quiz_summary_qcell {
  vertical-align: top;
  padding: 1em 1em 0em 0em;
}
td.quiz_summary_qcell table tr {
  background: transparent;
}
td.quiz_summary_qcell table td {
  vertical-align: top;
  padding: .5em;
}
.quiz_answer_feedback {
  font-style: italic;
}
