
	.draghandle {float: left;}
	#children-order-list {list-style-type: none; margin: 0; padding: 0;}
	#children li { margin: 0 3px 3px 3px; padding: 0.4em;
	padding-left: 1.5em; 
          background-color: #ddd;
	}
	#children li span { position: absolute; margin-left: -1.3em; }
	.dragging {background-color: #fee;}
	