{% extends 'base.html' %}

{% block bbjs %}
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_models.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_collections.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_views.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_control_views.js"></script>
    <!-- <script type="text/javascript" src="{{STATIC_URL}}js/ccnmtljs/bb_instantiation.js"></script> -->
{% endblock %}

{% block js %}
    <script type="text/template" id="course-list-template">
        <span class="course_name"><%= name %></span>
        <button class='btn btn-xs edit-crs pull-right'> Edit Course </button>
    </script>

    <script type="text/template" id="course-edit-template">
        <form id="create-edit-form" method="" action="">
            <span class="course-name-block">
                <label for="edit_course_name">Name:</label>
                <input id="edit_course_name" maxlength="255" name="name" type="text" value="<%= name %>"/><br />
            </span>
            <span class="course-budget-block">
		        <label for="edit_course_startingBudget">StartingBudget:</label> 
			    <input id="edit_course_startingBudget" min="0" name="startingBudget" type="number" value=<%= startingBudget %> /><br />
            </span>
            <span class="course-message-block">
			    <label for="edit_course_message">Message:</label> 
			    <textarea form="create-edit-form" cols="80" id="edit_course_message" name="edit_message" rows="10"><%= message %></textarea><br />
			</span>
            {% comment %}
            <span class="course-professor-block">
			{% if request.user.profile.is_admin %}
				<label for="edit_professor">Professor:</label>
				<select id="edit_professor" name="professor">
               	</select><br />
            {% endif %}
            </span>
            {% endcomment %}
        <button class='btn btn-xs save-edit-course' type="button">
            Save
        </button>
        <button class='btn btn-xs cncl-edit-crs' type="button">
            Cancel
        </button>
        </form>
        <br />
    </script>
    
    {% if request.user.profile.is_admin %}
    <script type="text/template" id="instructor-list-template">
        <%= first_name %> <space><space>
        <%= last_name %> <space><space>
        Email: <%= email %>
        <button class='btn btn-xs ed-inst'> Edit Instructor </button>
        <space><space>
        <button class='btn btn-xs rm-inst'> Remove Instructor </button>  <space><space><br />
    </script>


    <script type="text/template" id="instructor-edit-template">
    <form class="edit-instructor-frm" method="" action="" style="display: inline;">
        {% csrf_token %}
        <span class="inst-edt-first-name">
            <label>First Name: </label>
            <input type="text" placeholder="First Name: " class="edt-frst-name" value="<%= first_name %>" /> 
            <space><space>
        </span>
        <span class="inst-edt-last-name">
            <label>Last Name: </label>
            <input type="text" placeholder="Last Name: " class="edt-last-name" value="<%= last_name %>" /> 
            <space><space>
        </span>
        <span class="inst-edt-email">
            <label>Email: </label>
            <input type="text" placeholder="Email: " class="edt-email" value="<%= email %>" />
        </span>
        <button class='btn btn-xs save-edit-instructor'> Save Changes </button>  <br />
    </form>
    </script>
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var control_view = new ManageCoursesView({
                el: jQuery('.course_controls'),
                {% if request.user.profile.is_teacher %}
                    elUserCourses: jQuery('.user_courses #userlist'),
                {% endif %}
                {% if request.user.profile.is_admin %}
                    elUserCourses: jQuery('.all_brwn_courses'),
                {% endif %}
                
                user_id: "{{request.user.id}}"
            });
           
           {% if request.user.profile.is_admin %}
               var instructor_controls = new ManageInstructorsView({
        	       el: jQuery('.instructor_controls')
               });
           {% endif %}
        });
    </script>
{% endblock %}

{% block content %}

  <ul class="nav nav-tabs instructor-nav">
    <li class="active"><a href="#course-list" data-toggle="tab">Courses</a></li>
    <li><a href="#demo" data-toggle="tab">Demo</a></li>
  </ul>
 
  <div class="instructor tab-content">
    {% include "main/ccnmtl/home_dash/course_list_tab.html" %}
    {% include "main/ccnmtl/home_dash/demo_tab.html" %}
  </div>
  {% comment %}{% endcomment %}
{% endblock %}
