<div class="tab-pane active" id="course-list">
<br /><br />

<div class="courses">
    <div class='user_courses'>
        <div class="course_controls">
            <button class="add-crs">
            Add New Course
            </button>
            <form id="add-crs-frm" method="" action="" style="display: none;">
            {% csrf_token %}
                <p id="frm-title"> <b>Add New Course: </b></p>
                <input type="text" placeholder="Course Name" class="crs-name" /><br />
                <input type="submit" value="Save Course" class="submit"/>
            </form>
        </div>
        
        <h3>Your Courses</h3>
        <div id="userlist" >
            <!-- All user courses will be inserted here -->
        </div>
    </div>
    <br /><br /><br /><br />
    
    {% if request.user.profile.is_admin %}
    <h3>Instructors</h3>
    <div class='instructor_controls'>
        <button class="add-instructor-btn">
            Add New Instructor
        </button>
        <form class="add-instructor-frm" method="" action="" style="display: none;">
            {% csrf_token %}
            <p> <b>Add New Instructor: </b></p>
            <span class="instructor-first-name">
                <label>First Name: </label>
                <input type="text" placeholder="First Name: " class="instructor-frst-name" value="<%= first_name %>" /> 
                <space><space>
            </span>
            <span class="instructor-last-name">
                <label>Last Name: </label>
                <input type="text" placeholder="Last Name: " class="instructor-last-name" value="<%= last_name %>" /> 
                <space><space>
            </span>
            <span class="instructor-email">
                <label>Email: </label>
                <input type="text" placeholder="Email: " class="instructor-email" value="<%= email %>" />
            </span>
            <button class='btn btn-xs save-instructor'> Save Instructor </button>
        </form>

        <div id="instructor-list" >
            <!-- All instructors of courses will be inserted here -->
        </div>
    </div>
    
    <br /><br /><br /><br />
    {% endif %}
    
    
    {% if request.user.profile.is_admin %}
        <h3>Other Courses</h3>
        <div class="all_brwn_courses">
        </div>
    {% endif %}
     <br /><br /><br />
</div>
</div>
