<div class="tab-pane active" id="course-list">
<br /><br />

  <div class="courses">
    <div class="course-creation-area">
      <div class='course-header'>
        <span style='font-size:xx-large;'>
          Courses
        </span>
        <button class="btn btn-default add-crs pull-right">
          Add New Course
        </button>
      </div><!-- End div course-header -->
        <div class='accoridion'>
              <form id="create-course-form" method="" action="" style="display: none;">
                {% csrf_token %}
                <p id="frm-title"> <b><u>Add New Course: </u></b></p>
                <span class="course-name-block">
                    <label for="id_course_name">Name:</label>
                    <input id="id_course_name" maxlength="255" name="name" type="text" placeholder="Course Name" />
                    <br />
                </span>
                <span class="course-budget-block">
		            <label for="id_course_startingBudget">Starting Budget:</label> 
			        <input id="id_course_startingBudget" min="0" name="startingBudget" type="number" placeholder="60000" />
			        <br />
			    </span>
			    <span class="course-message-block">
			        <label for="id_course_message">Message:</label> 
			        <textarea cols="80" id="id_course_message" name="message" rows="10" placeholder="Course Message Here" ></textarea><br />
			    </span>
			    <span class="course-professor-block">
			        {% if request.user.profile.is_admin %}
				        <label for="id_professor">Professor:</label>
				        <select id="id_professor" name="professor">

               	        </select><br />
                    {% endif %}
                </span>
                <input type="submit" value="Save Course" class="submit btn btn-default"/>
                <button class='btn btn-default cncl-add-crs' type="button">
                    Cancel
                </button>
              </form> 
            </div> <!-- End .accordion -->
        </div> <!-- End .course_controls -->
    </div>

    <br /><br />
    {% if request.user.profile.is_admin %}
    <div class='instructor_controls'>
        <div class='instructor-header'>
            <span style='font-size:xx-large;'>Instructors</span>
            <button class="btn btn-default add-instructor-btn pull-right">Add New Instructor</button>
        </div>
        <form class="add-instructor-frm" method="" action="" style="display: none;">
            {% csrf_token %}
            <p> <b>Add New Instructor: </b></p>
            <span class="inst-first-name">
                <label>First Name: </label>
                <input type="text" placeholder="First Name: " class="instructor-frst-name" /> 
            </span>
            <span class="inst-last-name">
                <label>Last Name: </label>
                <input type="text" placeholder="Last Name: " class="instructor-last-name" /> 
            </span>
            <span class="inst-email">
                <label>Email: </label>
                <input type="text" placeholder="Email: " class="instructor-email" />
            </span>
            <button class='btn btn-default btn-xs save-instructor'> Save Instructor </button>
        </form>

        <div class="instructor-list" >
            <!-- All instructors of courses will be inserted here -->
        </div>
    </div>
    
    {% endif %}
    
    <br /><br /><br /><br />

</div>
</div>
