<div class="tab-pane active" id="course-list">
    <div class="course-creation-area">
      <div class='course-header'>
        <h3>
          Courses
        </h3>
        <button class="btn btn-default add-crs pull-right">
            <span class="glyphicon glyphicon-plus"></span>
          Add New Course
        </button>
      </div><!-- End div course-header -->
      <div class='course-form-area'>  
        <div class='accoridion'>
          <form id="create-course-form" method="" action="" style="display: none;">
                {% csrf_token %}
                <h4 id="frm-title">Add New Course:</h4>
                <span class="course-name-block">
                    <label for="id_course_name">Name:</label>
                    <input id="id_course_name" maxlength="255" name="name" type="text" placeholder="Course Name" />
                    <br />
                </span>
                <span class="course-budget-block">
		            <label for="id_course_startingBudget">Starting Budget:</label> 
			        <input id="id_course_startingBudget" min="0" name="startingBudget" type="number" placeholder="60000" />
			        <br />
			    </span>
			    <span class="course-message-block">
			        <label for="id_course_message">Message:</label> 
			        <textarea cols="80" id="id_course_message" name="message" rows="10" placeholder="Course Message Here" ></textarea><br />
			    </span>
			    <span class="course-professor-block">
			        {% if request.user.profile.is_admin %}
				        <label for="id_professor">Professor:</label>
				        <select id="id_professor" name="professor">

               	        </select><br />
                    {% endif %}
                </span>
                <input type="submit" value="Save Course" class="submit btn btn-default"/>
                <button class='btn btn-default cncl-add-crs' type="button">
                    Cancel
                </button>
              </form> 
            </div> <!-- End .accordion -->
        </div> <!-- End course from area -->

        <div class="course-list"></div>
    </div> <!-- End .course-creation-area -->


    <br /><br />
    {% if request.user.profile.is_admin %}
    <div class='instructor_controls'>
        <div class='instructor-header'>
            <h3>
                Instructors
            </h3>
            <button class="btn btn-default add-instructor-btn pull-right"><span class="glyphicon glyphicon-plus"></span> Add New Instructor</button>
        </div>
        <div class='instructor-form-area'>
            <form class="add-instructor-frm form-inline" method="post" action="" style="display: none;">
                {% csrf_token %}
                <h4>Add New Instructor</h4>
                <div class="form-group inst-first-name">
                    <label>First Name: </label>
                    <input type="text" class="instructor-frst-name" /> 
                </div>
                <div class="form-group inst-last-name">
                    <label>Last Name: </label>
                    <input type="text" class="instructor-last-name" /> 
                </div>
                <div class="form-group inst-email">
                    <label>Email: </label>
                    <input type="text" class="instructor-email" />
                </div>
                <button class='btn btn-default btn-xs cncl-add-inst' type="button">
                    Cancel
                </button>
                <button class='btn btn-primary btn-xs save-instructor' type="button">
                    Save
                </button>
            </form>
        </div> <!-- End Instructor Form Area -->
        <div class="instructor-list" >
            <!-- All instructors of courses will be inserted here -->
        </div>
    </div><!-- End instructor area -->
    {% endif %}
    <br /><br /><br /><br />
</div>
