{% extends 'base.html' %}
{% block js %}

{% endblock %}
{% block content %}
<h2>{{object.course}}</h2>
    {% block course_message %}
    <div class="course-message">
        <h3>Course Message</h3>
        {{object.course.message}}
    </div>
    {% endblock %}

   {% block team_info %}
    <div class="team-div">
        <h3>Team Information</h3> 
        
        <div class="team-div-info-1">
        <b>Team Name: </b> {{object.user.username}} <br />
        <b>Course: </b> {{object.course}} <br />
        </div>
        <div class="team-div-info-2">
        <b>Signed Contract: </b> {{object.signed_contract}} <br />
        <b>Budget: </b> {{object.budget}} <br />
        </div>
    {% endblock %}
        <div class="team-div-info-2">

    <a class="btn btn-default" href="../../../team_csv/{{ request.user.username }}/"><span class="glyphicon glyphicon-usd"></span> Download Team Budget History (CSV)</a>
            </div>
        </div>
      
    {% block course_documents %}
    
    <div class="course-div">
        <h3>Course Documents</h3>
        <div class="course-docs">
                    {% for document in document_list %}
            <li>{{ document.name }}
                {% if document.name == "Link: Brownfield Action Reference Site" %}
                    <a class="btn btn-default pull-right" href=http://brownfieldref.ccnmtl.columbia.edu/" target="_blank">View</a></li>
                {% else %}
                     <a class="btn btn-default pull-right" href="../../..{{STATIC_URL}}{{ document.link }}" target="_blank">View</a></li>
                {% endif %}
            {% empty %}
            <li>Sorry, no documents have been made available yet.</li>
            {% endfor %}
            </div>
    </div>
    {% endblock %}
    
 
          <h3>Play Brownfield Action</h3>
  <div class="play-brownfield">
    {% block brownfield %}
    	<div id="main_content">
    	 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
	      codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
	      width="761" height="521" id="bfa" align="middle">
    		<param name="allowScriptAccess" value="sameDomain" />
    		<!-- Static -->
      		<param name="movie" 
      		    value="{{STATIC_URL}}flash/bfa.swf" />
      		    
      		<param name="quality" value="high" />
      		<param name="bgcolor" value="#4d3e1b" />
      		
      		<!-- Domain & Static Do I need site.domain in front of static url?-->
      		<param name="flashVars" 
      		    value="serverURL={{site.domain}}../../../team/{{object.pk}}/&amp;resourceRootURL={{STATIC_URL}}flash/" />
      		
      		<!-- Static & Plugins & Domain & Static -->
      		<embed src="{{STATIC_URL}}flash/bfa.swf" quality="high" bgcolor="#4d3e1b" width="761" 
      		  height="521" name="bfa" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
      		  pluginspage="http://www.macromedia.com/go/getflashplayer"
      		  flashVars="serverURL={{site.domain}}../../../team/{{object.pk}}/&amp;resourceRootURL={{STATIC_URL}}flash/" />
    	</object>
    	
	</div> 
	</div>
	<br />
    {% endblock %}



{% endblock %}<!-- End Content Block -->
