{% extends 'base.html' %}
{% load static %}
{% load waffle_tags %}

{% block css %}
    <link href="{{STATIC_URL}}simulation/css/main.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        window.BrownfieldContext = {
           baseUrl: '{{STATIC_URL}}',
           staticUrl: 'simulation/',
           videoDir: 'simulation/videos',
           serverURL: '/team/{{object.pk}}/'
        };
    </script>
    <script type="text/javascript" src="{% static 'simulation/js/main.js' %}"></script>

    <script>
    jQuery(document).ready(function () {
           new BrownField(document.getElementById("main_content"));
        });
    </script>
{% endblock %}

{% block outercontainer %}
<div class="container">
    <div class="row-md-12">
        <h2>
            {{object.course}}
        </h2>

        <div class="course-message">
            <h3>Course Message</h3>
            {{object.course.message}}
        </div>

        <div class="team-div">
            <h3>Team Information</h3>

            <div class="team-div-info-1">
                <b>Team Name: </b> {{object.user.username}} <br />
                <b>Course: </b> {{object.course}} <br />
            </div>
            <div class="team-div-info-2">
                <b>Signed Contract: </b> <span class="contract-status"> {{object.signed_contract}} </span> <br />
                <b>Budget: </b> {{object.budget}} <br />
            </div>

            <div class="team-div-info-2">
                <a class="btn btn-default" href="/team_csv/{{ request.user.id }}/">
                    <span class="glyphicon glyphicon-usd"></span> Download Team Budget History (CSV)
                </a>
                <a class="btn btn-default" href="{% static 'flash/documents/slMap.pdf' %}" target="_blank">
                    <span class="glyphicon glyphicon-th"></span> Download Map (PDF)
                </a>
                <a class="btn btn-default" href="{% static 'flash/documents/contract.pdf' %}" target="_blank">
                    <span class="glyphicon glyphicon-pencil"></span> Download Contract (PDF)
                </a>
            </div>
        </div>
        <div class="course-div">
            <h3>Course Documents</h3>
            <div class="course-docs">
            {% for document in document_list %}
                <li><a href="{{document.link}}" target="_blank">{{ document.name }}</a></li>
            {% empty %}
                <li>Sorry, no documents have been made available yet.</li>
            {% endfor %}
            </div>
        </div>

        <div class="course-header">
            <h3>PLAY BROWNFIELD ACTION (BETA)</h3>
            <a class="btn btn-success btn-sm pull-right" role="button"
                href="{% url 'team-home' object.pk %}">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Original Simulation
            </a>
        </div>
        <div class="clearfix"></div>

        {% if object.signed_contract == False %}
            <p>
                You must sign the contract to play the game. Read through the contract
                below, then click <strong>Sign Contract</strong> to continue.
            </p>
            <iframe src="{% static 'flash/documents/contract.pdf' %}" style="width:100%; height: 400px"></iframe>
            <form method="post" action="{% url 'sign-contract' %}">{% csrf_token %}
                <input type="hidden" name="next" value="{% url 'team-home-html5' object.pk %}" />
                <button type="submit" class="btn btn-primary">Sign Contract</button>
            </form>
        {% else %}
            <div class="show-game" {% if object.signed_contract == False %} style="display:none"{% endif %}>
                <div id="main_content" style="width: 100%; height: 781px; min-width: 800px; padding-top: 20px;"></div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}<!-- End Content Block -->
