<div class="tab-pane active" id="course-list">
<br /><br />
<div class="user_courses">
    <button class="add-crs">
            Add New Course   
    </button>
    <ul class="courselistview">
        <!-- The instructor's courses will be inserted here -->
    </ul>

    <div class="all_brwn_courses">
        <ul class="courselistview">
            <!-- All brwn courses will be inserted here -->
        </ul>
      
        <div class="courseform">
            <form method="" action="" style="display: none;">
                <input type="text" placeholder="Course Name" class="name" /><br />
                <input type="submit" value="Save Course" />
            </form>
        </div><!-- end class listing -->
    </div>
</div>
</div>