<div class="tab-pane active" id="course-list">
<br /><br />

<div class="courses">
    <div class='user_courses'>
        <div class="course_controls">
            <button class="add-crs">
            Add New Course   
            </button>
            <form id="add-crs-frm" method="" action="" style="display: none;">{% csrf_token %}
                <meta name="csrf-token" content="{% csrf_token %}">
                <input type="text" placeholder="Course Name" class="name" /><br />
                <input type="submit" value="Save Course" class="submit"/>
            </form>
        </div>
        
        <div id="userlist" > 
            <ul class="courselistview">
            <!-- All user courses will be inserted here -->
            </ul>
        </div>
    </div>

    <div class="all_brwn_courses">
        <ul class="courselistview">
            <!-- All brwn courses will be inserted here -->
        </ul>
      
        <div class="courseform" >
        </div><!-- end class listing -->
    </div>
</div>
</div>

      {% comment %}
      
      {% for uc in user_courses %}
          <li>{{uc.pk}} {{uc.name}}</li>
      {% empty %}
          You have not created any courses yet.
      {% endfor %}
      
      {% endcomment %}