<div class="tab-pane active" id="course-list">
<br /><br />
<div class="container">
    <ul id="courselistview">
        <!-- The courses will be inserted here -->
         <div class="inner">Hello</div>
         <div class="inner">Goodbye</div>
        <li>Something inside container</li>
        <li>Something inside container</li>
    </ul>
</div>
<div id="container"><p>Something inside container</p></div>
    <div id="bb_main">   </div><!-- end bb_main -->
        <ul id="courselistview">
        <!-- The courses will be inserted here -->
        </ul>

      
      <div class="listing">
          <button class="add">
            Add New Course
          </button>
          <form method="" action="" style="display: none;">
            <input type="text" placeholder="Course Name" class="name" /><br />
            <input type="submit" value="Save Course" />
          </form>
        </div><!-- end class listing -->


</div>