<div class="tab-pane active" id="user-courses">
<h1>Course List</h1>
<button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Add Course </button></br>

<div id="course_list">
<h3>Your Courses</h3>

<ul>
{% for c in user_courses %}
    <li> <a href=/course/{{c.pk}}> {{ c.name }} </a></li>
{% empty %}
    <li>You are not in any courses yet.</li>
{% endfor %}
</ul>

<h3>All Brownfield Action Courses</h3>

 <ul>
{% for course in all_courses %}
    <li> <a href=/course/{{c.pk}}> {{ course.name }} </a></li>
{% empty %}
    <li>No courses yet.</li>
{% endfor %}
</ul>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick=refresh_page();> x </button>
            <h4 class="modal-title" id="myModalLabel">Add Course</h4>
            </div>
            <div class="modal-body">
            <form id="create_course" action="/create_new_course/" method="post">{% csrf_token %}
            {{ course_form.as_p }}
            <input type="submit" value="Submit"/>
            </form>
            </div>
            <div class="modal-footer">
            
            <button id="refresh" type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
  </div>
</div>
</div>