<div class="tab-pane" id="demo">
    {% comment %}{% endcomment %}

	<div id="main_content">
	{% comment %}
	    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
	     codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
	      width="761" height="521" id="bfa" align="middle">
    		<param name="allowScriptAccess" value="sameDomain" />
      		<param name="movie" value="{{STATIC_URL}}flash/bfa.swf" />
      		<param name="quality" value="high" />
      		<param name="bgcolor" value="#4d3e1b" /> /media/
      		<param name="flashVars" value="serverURL={{site.domain}}&amp;resourceRootURL={{STATIC_URL}}flash/" />
      		<embed src="{{STATIC_URL}}flash/bfa.swf" quality="high" bgcolor="#4d3e1b" width="761" 
      		height="521" name="bfa" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
      		 pluginspage="http://www.macromedia.com/go/getflashplayer"
      		  flashVars="serverURL={{STATIC_URL}}&amp;resourceRootURL={{STATIC_URL}}flash/" />
    	</object>
    	I assume it is the vars, not the movie or embed src....
    {% endcomment %}
    	 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
	      codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
	      width="761" height="521" id="bfa" align="middle">
    		<param name="allowScriptAccess" value="sameDomain" />
      		<param name="movie" value="{{STATIC_URL}}flash/bfa.swf" />
      		<param name="quality" value="high" />
      		<param name="bgcolor" value="#4d3e1b" />
      		<param name="flashVars" value="serverURL={{site.domain}}&amp;resourceRootURL={{STATIC_URL}}flash/" />
      		<embed src="{{STATIC_URL}}flash/bfa.swf" quality="high" bgcolor="#4d3e1b" width="761" 
      		  height="521" name="bfa" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
      		  pluginspage="http://www.macromedia.com/go/getflashplayer"
      		  flashVars="serverURL={{STATIC_URL}}&amp;resourceRootURL={{STATIC_URL}}flash/" />
    	</object>
    	<div id="userlogout" class="notice">
    		<a href="/logout">Logout</a>
   		</div>
	</div> 
	
	<div id="demo">
	 <div id="playbfa">
		    <a href="javascript:openPopWin('../../demo/play','800','600','no','yes','bfa',true)" title="Play Brownfield Action">
		    <img src="{{STATIC_URL}}images/playbfa.gif" alt="" width="152" height="166" border="0" /></a>
		  </div>
	</div>
	
	

</div> <!-- tab-pane -->