<div class="tab-pane" id="course-team-students">

<script type="text/template" id="available-teams">
<div class="btn-group-vertical btn-group-sm btn-group-justified">
{% for o in object.get_teams %}
    <button type="button" class="btn btn-success">
    {{o.username}}
    </button>
{% endfor %}
</div>
</script>
<!-- <script type="text/template" id="actual-teams"> -->
<!--     Team Name <%= username %> -->
<!-- </script> -->

<script type="text/template" id="team">
<div class="course_team">
    <div id="team-members">
    <h3>Team Members</h3>
    <div class="team-member-list">
    </div>
    </div><!-- End Team Members div -->
</div>
</script>

    <div id="course_teams_students">
        <div class="team_controls">
            <button class="add-team-btn">
            Add New Team   
            </button>
            <p class="add-team-frm-title" style="display: none;"> <b>Add New Team: </b></p>
            <form class="add-team-frm" method="" action="" style="display: none;">{% csrf_token %}
                <meta name="csrf-token" content="{% csrf_token %}">
                <input type="text" placeholder="Team Name" class="team-name" /><br />
                <input type="password" placeholder="Password" class="team-pswd-1" /><br />
                <input type="password" placeholder="Password" class="team-pswd-2" /><br />
                <input type="submit" value="Save Team" class="team_submit"/>
            </form>
        </div>
        <div class="team-list">
        </div>
    <!-- </div> Moving to Bottom so students without teams are held in a list as a sub view-->
    
    <div id="student_info">
    <h3>Students</h3>
    <div id="course-students">
        <div class="student_controls">
            <button class="add-std-btn">
            Add New Student   
            </button>
            <p class="add-std-frm-title" style="display: none;"> <b>Add New Student: </b></p>
            <form class="add-std-frm" method="" action="" style="display: none;">{% csrf_token %}
                <meta name="csrf-token" content="{% csrf_token %}">
                <input type="text" placeholder="First Name" class="frst-name" /><br />
                <input type="text" placeholder="Last Name" class="last-name" /><br />
                <input type="text" placeholder="Email" class="email" /><br />
                <input type="submit" value="Save Student" class="student_submit"/>
            </form>
        </div>
        <h3>Students not in a Team</h3>
        <div class="student-list"></div>
    </div>
    </div>
</div>
</div>