<div class="tab-pane" id="user-team-students">
<button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Add Course </button></br>
<div class="tab-pane active" id="user-courses">
<h1>Course List</h1>
<button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Add Course </button></br>

<div id="course_list">
<h3>Your Courses</h3>

<ul>
{% for c in user_courses %}
    <li> <a href=/course/{{c.pk}}> {{ c.name }} </a></li>
{% empty %}
    <li>You are not in any courses yet.</li>
{% endfor %}
</ul>

<h3>All Brownfield Action Courses</h3>

 <ul>
{% for course in all_courses %}
    <li> <a href=/course/{{c.pk}}> {{ course.name }} </a></li>
{% empty %}
    <li>No courses yet.</li>
{% endfor %}
</ul>








</div>