{% extends 'base.html' %}

{% block js %}

{% endblock %}

{% block content %}
<a href="#course-team-students" data-toggle="tab">Teams and Students</a>
 
    {% include "main/instructor/student_team_tab.html" %}
{% comment %}{% endcomment %}
{% endblock %}

{% block bbjs %}
<script type="text/javascript" src="{{STATIC_URL}}js/backbone_sync.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/students.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/students.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/team_members.js"></script>
{% comment %}<script type="text/javascript" src="{{STATIC_URL}}js/teams.js"></script>{% endcomment %}
{% endblock %}